<style>
    #school-components-others .layui-card-header {
        font-weight: 600;
    }

    #school-components-others p {
        margin-bottom: 10px
    }
    #school-components-others .layui-badge {
        line-height: 20px;
        margin: .25rem .5rem .25rem 0;
    }
    #school-components-others .alert {
        margin-bottom: .75rem;
    }
</style>
<div class="layui-fluid layui-anim school-anim" id="school-components-others" lay-title="其他组件">
    <div class="layui-row layui-col-space8 school-container">
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">Tag标签</div>
                <div class="layui-card-body">
                    <p>样式一</p>
                    <div>
                        <span class="layui-badge school-tag-green">school-tag-green</span>
                        <span class="layui-badge school-tag-magenta">school-tag-magenta</span>
                        <span class="layui-badge school-tag-orange">school-tag-orange</span>
                        <span class="layui-badge school-tag-red">school-tag-red</span>
                        <span class="layui-badge school-tag-volcano">school-tag-volcano</span>
                        <span class="layui-badge school-tag-gold">school-tag-gold</span>
                        <span class="layui-badge school-tag-lime">school-tag-lime</span>
                        <span class="layui-badge school-tag-cyan">school-tag-cyan</span>
                        <span class="layui-badge school-tag-blue">school-tag-blue</span>
                        <span class="layui-badge school-tag-geekblue">school-tag-geekblue</span>
                        <span class="layui-badge school-tag-purple">school-tag-purple</span>
                    </div>
                    <p>样式二</p>
                    <div>
                        <span class="layui-badge school-bg-green">.school-bg-green</span>
                        <span class="layui-badge school-bg-magenta">school-bg-magenta</span>
                        <span class="layui-badge school-bg-orange">school-bg-orange</span>
                        <span class="layui-badge school-bg-red">school-bg-red</span>
                        <span class="layui-badge school-bg-volcano">school-bg-volcano</span>
                        <span class="layui-badge school-bg-gold">school-bg-gold</span>
                        <span class="layui-badge school-bg-lime">school-bg-lime</span>
                        <span class="layui-badge school-bg-cyan">school-bg-cyan</span>
                        <span class="layui-badge school-bg-blue">school-bg-blue</span>
                        <span class="layui-badge school-bg-geekblue">school-bg-geekblue</span>
                        <span class="layui-badge school-bg-purple">school-bg-purple</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">Alert告警提示</div>
                <div class="layui-card-body">
                    <div class="alert">
                        <span class="school-alert-base school-alert-success">Success Tips</span>
                    </div>
                    <div class="alert">
                        <span class="school-alert-base school-alert-info">Informational Notes</span>
                    </div>
                    <div class="alert">
                        <span class="school-alert-base school-alert-warn">Warning Message</span>
                    </div>
                    <div class="alert">
                        <span class="school-alert-base school-alert-error">Error Message</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>