<style>
    #add-exam-frequency {
        min-height: 400px;
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="add-exam-frequency">
    <form class="layui-form" action="" lay-filter="add-exam-frequency-form">
        <div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">科目：</label>
            <div class="layui-input-block" id="add-exam-frequency-subject"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">课程：</label>
            <div class="layui-input-block" id="add-exam-frequency-course"></div>
        </div>
        <div class="layui-form-item school-hide">
            <button class="layui-btn" lay-submit="" lay-filter="add-exam-frequency-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script>
    layui.use(['school', 'form', 'validate', 'xmSelect'], function () {
        let $ = layui.$,
            school = layui.school,
            layer = layui.layer,
            form = layui.form,
            xmSelect = layui.xmSelect,
            userId = [[${userId}]],
            subjectXmlSelect,
            courseXmlSelect;

        form.render();
        subjectXmlSelect = xmSelect.render({
            el: "#add-exam-frequency-subject",
            model: {
                label: {
                    type: "text",
                },
            },
            radio: true,
            clickClose: true,
            tree: {
                show: true,
                strict: false,
                showLine: false,
                clickCheck: true,
                expandedKeys: [-1],
            },
            name: "subject",
            theme: {
                color: "#52c41a",
            },
            prop: {
                value: "id",
            },
            height: "auto",
            on: function (data) {
                console.log(data.arr[0].id);
                school.get(
                    ctx + "course/select/" + data.arr[0].id,
                    null,
                    function (data) {
                        var courseData = [];
                        $.each(data.data, function (index, item) {
                            var json = {
                                name: item.courseName,
                                value: item.courseId,
                            };
                            courseData.push(json);
                        });
                        courseXmlSelect = xmSelect.render({
                            el: "#add-exam-frequency-course",
                            radio: true,
                            clickClose: true,
                            height: "auto",
                            filterable: true,
                            data: courseData,
                            name: "course",
                        });
                    }
                );
            },
        });

        school.get(ctx + "subject/select/tree", null, function (data) {
            subjectXmlSelect.update(data);
        });

        form.on('submit(add-exam-frequency-form-submit)', function (data) {
            if (data.field.subject == "") {
                school.alert.warn('请选择科目！');
                return false;
            }
            var json = {
                'userId': userId,
                'courseId': data.field.course,
                'subjectId': data.field.subject
            }
            school.post(ctx + 'exam_frequency', json, function (res) {
                layer.closeAll();
                school.alert.success('增加考试机会成功,当前考试机会为' + res.data + '次');
            });
            return false;
        });
    });
</script>