<style>
    #export-user {
        min-height: 400px;
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="export-user">
    <form class="layui-form" action="" lay-filter="export-user-form">
        <div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">科目：</label>
            <div class="layui-input-block" id="export-user-subject"></div>
        </div>
        <div class="layui-form-item school-hide">
            <button class="layui-btn" lay-submit="" lay-filter="export-user-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script>
    layui.use(['school', 'form', 'validate', 'xmSelect'], function () {
        let $ = layui.$,
            school = layui.school,
            layer = layui.layer,
            form = layui.form,
            xmSelect = layui.xmSelect,
            subjectXmlSelect;

        form.render();
        subjectXmlSelect = xmSelect.render({
            el: "#export-user-subject",
            model: {
                label: {
                    type: "text",
                },
            },
            radio: true,
            clickClose: true,
            tree: {
                show: true,
                strict: false,
                showLine: false,
                clickCheck: true,
                expandedKeys: [-1],
            },
            name: "subject",
            theme: {
                color: "#52c41a",
            },
            prop: {
                value: "id",
            },
            height: "auto",
        });

        school.get(ctx + "subject/select/tree", null, function (data) {
            subjectXmlSelect.update(data);
        });

        form.on('submit(export-user-form-submit)', function (data) {
            if (data.field.subject == "") {
                school.alert.warn('请选择科目！');
                return false;
            }
            window.location.href = ctx + 'user/excel/' + data.field.subject;
            layer.closeAll();
            school.alert.success('导出用户成功');
            return false;
        });
    })
</script>