<style>
    #generate-certificate {
        min-height: 400px;
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="generate-certificate">
    <form class="layui-form" action="" lay-filter="generate-certificate-form">
        <div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">科目：</label>
            <div class="layui-input-block" id="generate-certificate-subject"></div>
        </div>
        <div class="layui-form-item school-hide">
            <button class="layui-btn" lay-submit="" lay-filter="generate-certificate-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script>
    layui.use(['school', 'form', 'validate','xmSelect'], function () {
        let $ = layui.$,
            school = layui.school,
            layer = layui.layer,
            form = layui.form,
            xmSelect = layui.xmSelect,
            userId = [[${userId}]],
            subjectXmlSelect;

        form.render();
        subjectXmlSelect = xmSelect.render({
            el: "#generate-certificate-subject",
            model: {
                label: {
                    type: "text",
                },
            },
            radio: true,
            clickClose: true,
            tree: {
                show: true,
                strict: false,
                showLine: false,
                clickCheck: true,
                expandedKeys: [-1],
            },
            name: "subject",
            theme: {
                color: "#52c41a",
            },
            prop: {
                value: "id",
            },
            height: "auto",
        });

        school.get(ctx + "subject/select/tree", null, function (data) {
            subjectXmlSelect.update(data);
        });

        form.on('submit(generate-certificate-form-submit)', function (data) {
            if(data.field.subject==""){
                school.alert.warn('请选择科目！');
                return false;
            }
            var json={
                'userId':userId,
                'subjectId':data.field.subject
            }
            school.post(ctx + 'user/generate_certificate/', json, function () {
                layer.closeAll();
                school.alert.success('生成证书成功');
            });
            return false;
        });
    });
</script>