<div class="layui-fluid" id="user-password-update">
    <form class="layui-form" action="" lay-filter="password-update-form">
        <div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">原密码：</label>
            <div class="layui-input-block">
                <input type="password" name="oldPassword" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">新密码：</label>
            <div class="layui-input-block">
                <input type="password" name="newPassword" minlength="6" lay-verify="range"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">密码确认：</label>
            <div class="layui-input-block">
                <input type="password" name="confirmPassword" minlength="6" lay-verify="range"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item school-hide">
            <button class="layui-btn" lay-submit="" lay-filter="password-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script>
    layui.use(['school', 'form', 'validate', 'layer'], function () {
        let $ = layui.$,
            validate = layui.validate,
            form = layui.form,
            school = layui.school,
            layer = layui.layer;

        form.verify(validate);
        form.render();

        form.on('submit(password-update-form-submit)', function (data) {
            if (data.field.newPassword !== data.field.confirmPassword) {
                school.alert.warn('两次密码输入不一致！');
                return false;
            }
            school.post(ctx + 'user/password/update', data.field, function (r) {
                layer.closeAll();
                school.modal.success('修改成功', '密码修改成功，请重新登录', function () {
                    window.location.href = ctx + 'logout';
                });
            });
            return false;
        });
    });
</script>