<style>
    #user-add {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="user-add">
    <form class="layui-form" action="" lay-filter="user-add-form">
        <div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">姓名：</label>
            <div class="layui-input-block">
                <input type="text" name="username" minlength="2" maxlength="10" lay-verify="range|username"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">手机号：</label>
            <div class="layui-input-block">
                <input type="tel" name="mobile" lay-verify="required|phone" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">身份证号：</label>
            <div class="layui-input-block">
                <input type="text" name="idcard" id="idcard" minlength="18" maxlength="18"
                       lay-verify="required|identity" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">班级名称：</label>
            <div class="layui-input-block">
                <input type="text" name="classesName" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">专业名称：</label>
            <div class="layui-input-block" id="user-add-subject"></div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">性别：</label>
            <div class="layui-input-block">
                <input type="text" name="sex" id="sex" lay-verify="required" autocomplete="off" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">状态：</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="1" title="有效" checked="">
                <input type="radio" name="status" value="0" title="禁用">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <textarea name="description" maxlength="100" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item school-hide">
            <button class="layui-btn" lay-submit="" lay-filter="user-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script>
    layui.use(['school', 'form', 'validate','xmSelect'], function () {
        let $ = layui.$,
            school = layui.school,
            layer = layui.layer,
            form = layui.form,
            xmSelect = layui.xmSelect,
            validate = layui.validate,
            subjectXmlSelect;

        form.verify(validate);
        form.render();
        subjectXmlSelect = xmSelect.render({
            el: '#user-add-subject',
            model: {label: {type: 'text'}},
            tree: {
                show: true,
                strict: false,
                showLine: false,
                clickCheck: true,
                expandedKeys: [-1],
            },
            name: 'subjectId',
            theme: {
                color: '#52c41a',
            },
            prop: {
                value: 'id'
            },
            height: 'auto',
            on: function (data) {
                if (data.isAdd) {
                    return data.change.slice(0, 1)
                }
            }
        });

        school.get(ctx + 'subject/select/tree', null, function (data) {
            subjectXmlSelect.update(data)
        });
        
        
        $("#idcard").change(function(){
        	$("#sex").val("");
        	var idcard=$("#idcard").val();
        	if(idcard.length!=18){
        		school.alert.error('请输入正确的身份证号码！');
        	}else{
        		if(parseInt(idcard.substr(16, 1)) % 2 == 1){
        			$("#sex").val("男");
        		}else{
        			$("#sex").val("女");
        		}
        	}
        })
        
        form.on('submit(user-add-form-submit)', function (data) {
        	if(data.field.subjectId==""){
        		school.alert.warn('请选择专业！');
        		return false;
        	}
        	var json=data.field;
        	json.roleId=3;
        	json.isUser=1;
        	var idcard=$("#idcard").val();
        	if(parseInt(idcard.substr(16, 1)) % 2 == 1){
        		json.sex=0;
            }else{
            	json.sex=1;
            }
            
            school.post(ctx + 'user', json, function () {
                layer.closeAll();
                school.alert.success('新增用户成功，初始密码为 111111');
                $('#school-user').find('#query').click();
            });
            return false;
        });
    });
</script>