<style>
    #user-update {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="user-update">
    <form class="layui-form" action="" lay-filter="user-update-form">
        <div class="layui-form-item school-hide">
            <label class="layui-form-label school-form-item-require">用户id：</label>
            <div class="layui-input-block">
                <input type="text" name="userId" data-th-value="${user.userId}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">姓名：</label>
            <div class="layui-input-block">
                <input type="text" name="username" minlength="2" maxlength="10" data-th-id="${user.userId}"
                       lay-verify="range|username" autocomplete="off" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">身份证号：</label>
            <div class="layui-input-block">
                <input type="text" name="idcard" minlength="18" maxlength="18" data-th-id="${user.idcard}"
                       lay-verify="required|identity" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">手机号：</label>
            <div class="layui-input-block">
                <input type="tel" name="mobile" lay-verify="required|phone" data-th-id="${user.mobile}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">昵称：</label>
            <div class="layui-input-block">
                <input type="text" name="nickname" maxlength="50" autocomplete="off" data-th-id="${user.nickname}"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">状态：</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="1" title="有效">
                <input type="radio" name="status" value="0" title="禁用">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">性别：</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="0" title="男性">
                <input type="radio" name="sex" value="1" title="女性">
                <input type="radio" name="sex" value="2" title="保密">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">民族：</label>
            <div class="layui-input-block" id="user-update-nationality"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">班级名称：</label>
            <div class="layui-input-block">
                <input type="text" name="classesName" maxlength="50" autocomplete="off" data-th-id="${user.classesName}"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">专业名称：</label>
            <div class="layui-input-block" id="user-update-subject"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">证书编号：</label>
            <div class="layui-input-block">
                <input type="text" name="certificateNumber" maxlength="50" autocomplete="off" data-th-id="${user.certificateNumber}"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">工作单位：</label>
            <div class="layui-input-block">
                <input type="text" name="workPlaceName" maxlength="50" autocomplete="off" data-th-id="${user.workPlaceName}"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <textarea name="description" maxlength="100" class="layui-textarea">
                </textarea>
            </div>
        </div>
        <!--************这里是上传图片的代码***************-->
        <!--************这里添加的隐藏的输入框，用来传递images的参数***************-->
        <input type="hidden" name="oneInchPhoto" class="oneInchPhoto">
        <div class="layui-form-item">
            <label class="layui-form-label ">一寸照片:</label>
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test1">上传图片</button>
                <div class="layui-upload-list" style="padding-left: 110px;">
                    <img class="layui-upload-img" style="width:200px;" id="oneInchPhoto">
                    <p id="demoText1"></p>
                </div>
            </div>
        </div>
        <!--************上面里是上传图片的代码***************-->
        <!--************这里是上传图片的代码***************-->
        <!--************这里添加的隐藏的输入框，用来传递images的参数***************-->
        <input type="hidden" name="idcardFront" class="idcardFront">
        <div class="layui-form-item">
            <label class="layui-form-label ">身份证照片(正面):</label>
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test2">上传图片</button>
                <div class="layui-upload-list" style="padding-left: 110px;">
                    <img class="layui-upload-img" style="width:200px;" id="idcardFront">
                    <p id="demoText2"></p>
                </div>
            </div>
        </div>
        <!--************上面里是上传图片的代码***************-->
        <!--************这里是上传图片的代码***************-->
        <!--************这里添加的隐藏的输入框，用来传递images的参数***************-->
        <input type="hidden" name="idcardNegative" class="idcardNegative">
        <div class="layui-form-item">
            <label class="layui-form-label ">身份证照片(背面):</label>
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test3">上传图片</button>
                <div class="layui-upload-list" style="padding-left: 110px;">
                    <img class="layui-upload-img" style="width:200px;" id="idcardNegative">
                    <p id="demoText3"></p>
                </div>
            </div>
        </div>
        <!--************上面里是上传图片的代码***************-->
        <input type="hidden" name="certificate" class="certificate">
        <div class="layui-form-item">
            <label class="layui-form-label ">合格证书:</label>
            <div class="layui-upload">
                <div class="layui-upload-list" style="padding-left: 110px;">
                    <img class="layui-upload-img" style="width: 200px;"
                        id="certificate">
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">已完成课程：</label>
            <div id="finishedCourses" style="padding-top: 7px;"></div>
        </div>
        <div class="layui-form-item school-hide">
            <button class="layui-btn" lay-submit="" lay-filter="user-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['school', 'form', 'xmSelect', 'validate','upload'], function () {
        let $ = layui.$,
            school = layui.school,
            layer = layui.layer,
            form = layui.form,
            xmSelect = layui.xmSelect,
            user = [[${user}]],
            validate = layui.validate,
            nationalityXmlSelect,
            subjectXmlSelect,
            upload = layui.upload;

        form.verify(validate);
        form.render();

        initUserValue();
        nationalityXmlSelect = xmSelect.render({
            el: '#user-update-nationality',
            model: {label: {type: 'text'}},
            tree: {
                show: true,
                strict: false,
                showLine: false,
                clickCheck: true,
                expandedKeys: [-1],
            },
            name: 'nationality',
            theme: {
                color: '#52c41a',
            },
            prop: {
                value: 'id'
            },
            height: 'auto',
            on: function (data) {
                if (data.isAdd) {
                    return data.change.slice(0, 1)
                }
            }
        });
        school.get(ctx + 'nationality/select/tree', null, function (data) {
            nationalityXmlSelect.update(data)
            user.nationality && nationalityXmlSelect.setValue([user.nationality]);
        });
        
        subjectXmlSelect = xmSelect.render({
            el: '#user-update-subject',
            model: {label: {type: 'text'}},
            tree: {
                show: true,
                strict: false,
                showLine: false,
                clickCheck: true,
                expandedKeys: [-1],
            },
            name: 'subject',
            theme: {
                color: '#52c41a',
            },
            prop: {
                value: 'id'
            },
            height: 'auto',
            on: function (data) {
                if (data.isAdd) {
                    return data.change.slice(0, 1)
                }
            }
        });

        school.get(ctx + 'subject/select/tree', null, function (data) {
            subjectXmlSelect.update(data)
            user.subjectId && subjectXmlSelect.setValue([user.subjectId]);
        });
        
        function initUserValue() {
            form.val("user-update-form", {
                "username": user.username,
                "mobile": user.mobile,
                "idcard": user.idcard,
                "nickname": user.nickname,
                "classesName": user.classesName,
                "email": user.email,
                "status": user.status,
                "sex": user.sex,
                "description": user.description,
                "certificateNumber": user.certificateNumber,
                "workPlaceName": user.workPlaceName
            });
            $('#oneInchPhoto').attr('src', user.oneInchPhoto);
            $(".oneInchPhoto").val(user.oneInchPhoto);
            
            $('#idcardFront').attr('src', user.idcardFront);
            $(".idcardFront").val(user.idcardFront);
            
            $('#idcardNegative').attr('src', user.idcardNegative);
            $(".idcardNegative").val(user.idcardNegative);
            
            $('#certificate').attr('src', user.certificateUrl);
            $(".certificate").val(user.certificateUrl);
            $("#finishedCourses").empty();
            var str="无";
            if(user.playFinishedCourses!=null && user.playFinishedCourses.length>0){
                str="<table style='line-height:25px'>";
                $.each(user.playFinishedCourses,function(index,value){
                    str+="<tr><td>"+value.courseName+"</td></tr>";
                });
                str+="</table>";
                
            }
            $("#finishedCourses").append(str);
        }

        form.on('submit(user-update-form-submit)', function (data) {
        	debugger;
            if (school.nativeEqual(data.field, user)) {
                school.alert.warn('数据未作任何修改！');
                return false;
            }
            data.field.subjectId=data.field.subject;
            school.post(ctx + 'user/update', data.field, function () {
                layer.closeAll();
                school.alert.success(user.username + ' 用户数据修改成功');
                $('#school-user').find('#query').click();
            });
            return false;
        });
        
        
      //一寸照片图片上传
        var uploadInst1 = upload.render({
            elem: '#test1'
            , url: ctx + 'user/upload/'+user.userId
            , accept: 'images'
            , size: 50000
            , before: function (obj) {

                obj.preview(function (index, file, result) {

                    $('#oneInchPhoto').attr('src', result);
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                //上传成功
                var demoText = $('#demoText1');
                demoText.html('<span style="color: #4cae4c;">上传成功</span>');

                var fileupload = $(".oneInchPhoto");
                fileupload.attr("value", res.data.src);
                console.log(fileupload.attr("value"));
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText1');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst1.upload();
                });
            }
        });
      
      //身份证正面图片上传
        var uploadInst2 = upload.render({
            elem: '#test2'
            , url: ctx + 'user/upload/'+user.userId
            , accept: 'images'
            , size: 50000
            , before: function (obj) {

                obj.preview(function (index, file, result) {

                    $('#idcardFront').attr('src', result);
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                //上传成功
                var demoText = $('#demoText2');
                demoText.html('<span style="color: #4cae4c;">上传成功</span>');

                var fileupload = $(".idcardFront");
                fileupload.attr("value", res.data.src);
                console.log(fileupload.attr("value"));
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText2');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst2.upload();
                });
            }
        });
      //身份证背面图片上传
        var uploadInst3 = upload.render({
            elem: '#test3'
            , url: ctx + 'user/upload/'+user.userId
            , accept: 'images'
            , size: 50000
            , before: function (obj) {

                obj.preview(function (index, file, result) {

                    $('#idcardNegative').attr('src', result);
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                //上传成功
                var demoText = $('#demoText3');
                demoText.html('<span style="color: #4cae4c;">上传成功</span>');

                var fileupload = $(".idcardNegative");
                fileupload.attr("value", res.data.src);
                console.log(fileupload.attr("value"));
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText3');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst3.upload();
                });
            }
        });
    });
</script>