
<style>
    #school-user xm-select {
        min-height: 30px;
        line-height: 30px;
    }
    #school-user xm-select > .xm-label .scroll .label-content {
        display: flex;
        padding: 0 30px 0 10px;
    }
</style>
<div class="layui-fluid layui-anim school-anim" id="school-user" lay-title="用户管理">
    <div class="layui-row school-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body school-table-full">
                    <form class="layui-form layui-table-form" lay-filter="user-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">姓名</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="username" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">手机号</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="mobile" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">昵称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="nickname" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">身份证号</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="idcard" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">状态</label>
                                        <div class="layui-input-inline">
                                            <select name="status">
                                                <option value=""></option>
                                                <option value="0">禁用</option>
                                                <option value="1">有效</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary school-button-blue-plain table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary school-button-green-plain table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                     shiro:hasAnyPermissions="user:add,user:update,user:password:reset,user:export,user:import,user:generateCertificate,user:certification">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="userTable" lay-data="{id: 'userTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="user-status">
    {{#
    let status = {
    1: {title: 'checked'},
    0: {title: ''}
    }[d.status];
    }}
    <input lay-filter="toexamine"  type="checkbox" {{status.title}} value={{d.userId}} lay-skin="switch" lay-text="通过|未通过">

</script>
<script type="text/html" id="user-sex">
    {{#
    let sex = {
    2: {title: '保密'},
    1: {title: '女'},
    0: {title: '男'}
    }[d.sex];
    }}
    <span>{{ sex.title }}</span>
</script>
<script type="text/html" id="user-option">
    <span shiro:lacksPermission="user:view,user:update,user:delete">
        <span class="layui-badge-dot school-bg-orange"></span> 无权限
    </span>
    <a lay-event="detail" shiro:hasPermission="user:view" title="详情"><i
            class="layui-icon school-edit-area school-green">&#xe7a5;</i></a>
    <a lay-event="edit" shiro:hasPermission="user:update" title="编辑"><i
            class="layui-icon school-edit-area school-blue">&#xe7a4;</i></a>
    <a lay-event="del" shiro:hasPermission="user:delete" title="删除">
        <i class="layui-icon school-edit-area school-red">&#xe7f9;</i></a>
    <a lay-event="addExamFrequency" shiro:hasPermission="user:addExamFrequency" title="增加考试机会">
        <i class="layui-icon school-edit-area school-purple">&#xe624;</i></a>
    <a lay-event="generateCertificate" shiro:hasPermission="user:generateCertificate" title="生成证书">
        <i class="layui-icon school-edit-area school-orange">&#xe705;</i></a>
    <a lay-event="deleteCertificate" shiro:hasPermission="user:deleteCertificate" title="删除证书">
        <i class="layui-icon school-edit-area school-yellow">&#xe640;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdownMenu', 'jquery', 'laydate', 'form', 'table', 'school'], function () {
        let $ = layui.jquery,
            laydate = layui.laydate,
            school = layui.school,
            form = layui.form,
            table = layui.table,
            dropdownMenu = layui.dropdownMenu,
            $view = $('#school-user'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns,
            createTimeFrom,
            createTimeTo;

        form.render();

        initTable();

        laydate.render({
            elem: '#user-createTime',
            range: true,
            trigger: 'click'
        });

        dropdownMenu.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                let checkStatus = table.checkStatus('userTable');
                if (name === 'add') {
                    school.modal.open('新增用户', 'system/user/add', {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#user-add').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#user-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        school.alert.warn('请选择需要删除的用户');
                    } else {
                        school.modal.confirm('删除用户', '确定删除该用户？', function () {
                            let userIds = [];
                            layui.each(checkStatus.data, function (key, item) {
                                userIds.push(item.userId)
                            });
                            deleteUsers(userIds.join(','));
                        });
                    }
                }
                if (name === 'reset') {
                    if (!checkStatus.data.length) {
                        school.alert.warn('请选择需要重置密码的用户');
                    } else {
                        let userIds = [];
                        layui.each(checkStatus.data, function (key, item) {
                        	userIds.push(item.userId)
                        });
                        school.post(ctx + 'user/password/reset_id/' + userIds.join(','), null, function () {
                            school.alert.success('所选用户密码已重置为111111');
                        });
                    }
                }
                if (name === 'export') {
                    school.modal.open('导出用户', 'system/user/export', {
                        area: $(window).height() <= 250 ? '30%' : '30%',
                        btn: ['提交', '取消'],
                        yes: function (index, layero) {
                            $('#export-user').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            layer.closeAll();
                        }
                    });

                    // let params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
                    // params.pageSize = $view.find(".layui-laypage-limits option:selected").val();
                    // params.pageNum = $view.find(".layui-laypage-em").next().html();
                    // school.download(ctx + 'user/excel', params, '用户信息表.xlsx');
                }
                if (name === 'generateCertificate'){
                    if (!checkStatus.data.length) {
                        school.alert.warn('请选择需要生成合格证的用户');
                    } else {
                        let userIds = [];
                        layui.each(checkStatus.data, function (key, item) {
                            userIds.push(item.userId)
                        });
                        school.post(ctx + 'user/generate_certificates/' + userIds.join(','), null, function () {
                            school.alert.success('生成合格证成功');
                        });
                    }
                }

                if (name === 'certification'){
                    if (!checkStatus.data.length) {
                        school.alert.warn('请选择需要跳过实名认证的用户');
                    } else {
                        let userIds = [];
                        layui.each(checkStatus.data, function (key, item) {
                            userIds.push(item.userId)
                        });
                        school.post(ctx + 'user/certification/' + userIds.join(','), null, function () {
                            school.alert.success('跳过实名认证成功');
                        });
                    }
                }

                if (name === 'import') {
                    school.modal.open("导入用户", "user/import", {
                        btn: ["提交", "重置"],
                        area: $(window).width() <= 250 ? ["30%", "30%"] : ["50%", "50%"],
                        yes: function (index, layero) {
                            $("#user-import").find("#submit").trigger("click");
                        },
                        btn2: function () {
                            $("#user-import").find("#reset").trigger("click");
                            return false;
                        },
                    });
                }
            },
            options: [{
                name: 'add',
                title: '新增用户',
                perms: 'user:add'
            }, {
                name: 'delete',
                title: '删除用户',
                perms: 'user:delete'
            }, {
                name: 'reset',
                title: '密码重置',
                perms: 'user:password:reset'
            }, {
                name: 'export',
                title: '导出Excel',
                perms: 'user:export'
            }
            ]
        });
        //修改状态
        form.on('switch(toexamine)', function (data) {
           let s;
            this.checked===false? s=0:s=1;
            let json={
                status:s,
                userId:data.value
            }
            school.post(ctx + 'user/update', json, function () {
                school.alert.success('修改成功');
            });
        })

        table.on('tool(userTable)', function (obj) {
            let data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'detail') {
                school.modal.view('用户信息', 'system/user/detail/' + data.userId, {
                    area: $(window).width() <= 750 ? '95%' : '660px'
                });
            }
            if (layEvent === 'del') {
                school.modal.confirm('删除用户', '确定删除该用户？', function () {
                    deleteUsers(data.userId);
                });
            }
            if (layEvent === 'edit') {
                school.modal.open('修改用户', 'system/user/update/' + data.userId, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#user-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }

            if(layEvent==='addExamFrequency'){
                school.modal.open('增加考试机会', 'system/user/addExamFrequency/' + data.userId, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function () {
                        $('#add-exam-frequency').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }

            if(layEvent === 'deleteCertificate'){
                school.modal.open('删除证书','system/user/deleteCertificate/' + data.userId,{
                    area: $(window).height() <= 250 ? '30%' : '30%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#delete-certificate').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }

            if(layEvent === 'generateCertificate'){
                school.modal.open('生成证书','system/user/generateCertificate/' + data.userId,{
                    area: $(window).height() <= 250 ? '30%' : '30%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#generate-certificate').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }

        });

        table.on('sort(userTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            let params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            sortObject.type = 'null';
            createTimeTo = null;
            createTimeFrom = null;
            tableIns.reload({where: getQueryParams(true), page: {curr: 1}, initSort: sortObject});
        });

        function initTable() {
            tableIns = school.table.init({
                elem: $view.find('table'),
                id: 'userTable',
                url: ctx + 'user/list',
                where: {
                	isUser: 1
                },
                cols: [[
                    {type: 'checkbox'},
                    {field: 'userId', title: '编号',minWidth: 50},
                    {field: 'username', title: '姓名', minWidth: 100},
                    {field: 'subjectName', title: '科目', minWidth: 100},
                    {field: 'mobile', title: '手机号', minWidth: 165},
                    {field: 'idcard', title: '身份证号', minWidth: 165},
                    {field: 'nickname', title: '昵称', minWidth: 65},
                    {title: '性别', templet: '#user-sex', minWidth: 25},
                    {field: 'nationalityName', title: '族别'},
                    {title: '审核状态', templet: '#user-status'},
                    {field: 'createTime', title: '创建时间', minWidth: 180, sort: true},
                    {title: '操作', toolbar: '#user-option', minWidth: 200}
                ]]
            });
        }

        function getQueryParams(flag) {
            
            let params = $searchForm.serializeJson();
            let createTime = params.time;
            if (createTime) {
                createTimeFrom = createTime.split(' - ')[0];
                createTimeTo = createTime.split(' - ')[1];
            }
            params.invalidate_ie_cache = new Date();
            params.createTimeFrom = createTimeFrom;
            params.createTimeTo = createTimeTo;
            params.isUser = 1;
            return params;
        }

        function deleteUsers(userIds) {
            let currentUserId = currentUser.userId + '';
            if (('' + userIds).split(',').indexOf(currentUserId) !== -1) {
                school.alert.warn('所选用户包含当前登录用户，无法删除');
                return;
            }join
            school.get(ctx + 'user/delete/' + userIds, null, function () {
                school.alert.success('删除用户成功');
                $query.click();
            });
        }
        

    })
</script>