<style>
    #user-import {
        padding: 20px 30px 25px 0;
    }
</style>
<div class="layui-fluid" id="user-import">
    <form class="layui-form" action="" lay-filter="user-import-form">
        <div class="layui-form-item">
            <div class="layui-inline" style="margin-left: 50px;margin-top: 50px">
                <div class="layui-input-inline" style="width:100%;">
                    <button class="layui-btn layui-btn" data-type="import" id="importUser" onclick="javascript:return false;">导入用户</button>
                </div>
            </div>
        </div>
        <div class="layui-form-item school-hide">
            <button
                    class="layui-btn"
                    lay-submit=""
                    lay-filter="user-import-form-submit"
                    id="submit"
            ></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(["school", "form", "validate", "xmSelect"], function () {
        let $ = layui.$,
            school = layui.school,
            layer = layui.layer,
            form = layui.form,
            xmSelect = layui.xmSelect,
            validate = layui.validate,
            upload = layui.upload


        form.verify(validate);
        form.render();
        var path=" 2"


        upload.render({
            elem: "#importUser",//导入id
            url: ctx + 'user/importTest',
            accept: "file",
            exts: 'xls|xlsx|xlsm|xlt|xltx|xltm',
            before: function (obj) {
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result);

                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code != 200) {
                    return school.alert.error('上传失败');
                }
                //上传成功
                var demoText = $('#demoText2');
                demoText.html('<span style="color: #4cae4c;">上传成功</span>');
                $('#thumbnail').val(res.data.filepath);
                path=res.data.filepath;
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText2');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadImage.upload();
                });
            }
        });
        form.on("submit(user-import-form-submit)", function (data) {
            layer.closeAll();
            var jsonData={
                path:path
            }

            school.get(ctx + 'user/import/',jsonData,function (res){
                $("#school-user").find("#reset").click();
                if (res.data.names!=""){
                    alert('导入用户成功！'+res.data.names);
                }else {
                    school.alert.success('导入用户成功！');
                }
            })


        });

    });
</script>
