<style>
#user-update {
	padding: 20px 25px 25px 0;
}
</style>
<div class="layui-fluid" id="user-update">
	<form class="layui-form" action="" lay-filter="user-update-form">
		<div class="layui-form-item school-hide">
			<label class="layui-form-label school-form-item-require">用户id：</label>
			<div class="layui-input-block">
				<input type="text" name="userId" data-th-value="${user.userId}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label school-form-item-require">姓名：</label>
			<div class="layui-input-block">
				<input type="text" name="username" minlength="2" maxlength="10"
					data-th-id="${user.userId}" lay-verify="range|username"
					autocomplete="off" class="layui-input" readonly>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label school-form-item-require">身份证号：</label>
			<div class="layui-input-block">
				<input type="text" name="idcard" readonly
					data-th-id="${user.idcard}" lay-verify="required|identity"
					autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label school-form-item-require">手机号：</label>
			<div class="layui-input-block">
				<input type="tel" name="mobile" readonly data-th-id="${user.mobile}"
					autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">昵称：</label>
			<div class="layui-input-block">
				<input type="text" name="nickname" readonly autocomplete="off"
					data-th-id="${user.nickname}" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label school-form-item-require">状态：</label>
			<div class="layui-input-block">
				<input type="text" name="status" readonly autocomplete="off"
					data-th-id="${user.status}" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label school-form-item-require">性别：</label>
			<div class="layui-input-block">
				<input type="text" name="sex" readonly autocomplete="off"
					data-th-id="${user.sex}" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">民族：</label>
			<div class="layui-input-block">
				<input type="text" name="nationalityName" readonly
					autocomplete="off" data-th-id="${user.nationality}"
					class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label school-form-item-require">班级名称：</label>
			<div class="layui-input-block">
				<input type="text" name="classesName" readonly autocomplete="off"
					   data-th-id="${user.classesName}" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label school-form-item-require">专业名称：</label>
			<div class="layui-input-block">
				<input type="text" name="subjectName" readonly autocomplete="off"
					data-th-id="${user.subjectName}" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">证书编号：</label>
			<div class="layui-input-block">
				<input type="text" name="certificateNumber" maxlength="50"
					autocomplete="off" data-th-id="${user.certificateNumber}"
					class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">工作单位：</label>
			<div class="layui-input-block">
				<input type="text" name="workPlaceName" maxlength="50"
					   autocomplete="off" data-th-id="${user.workPlaceName}"
					   class="layui-input">
			</div>
		</div>
		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label">备注：</label>
			<div class="layui-input-block">
				<textarea name="description" maxlength="100" class="layui-textarea">
                </textarea>
			</div>
		</div>
		<!--************这里是上传图片的代码***************-->
		<!--************这里添加的隐藏的输入框，用来传递images的参数***************-->
		<input type="hidden" name="oneInchPhoto" class="oneInchPhoto">
		<div class="layui-form-item">
			<label class="layui-form-label ">一寸照片:</label>
			<div class="layui-upload">
				<div class="layui-upload-list" style="padding-left: 110px;">
					<img class="layui-upload-img" style="width: 200px;"
						id="oneInchPhoto">
				</div>
			</div>
		</div>
		<!--************上面里是上传图片的代码***************-->
		<!--************这里是上传图片的代码***************-->
		<!--************这里添加的隐藏的输入框，用来传递images的参数***************-->
		<input type="hidden" name="idcardFront" class="idcardFront">
		<div class="layui-form-item">
			<label class="layui-form-label ">身份证照片(正面):</label>
			<div class="layui-upload">
				<div class="layui-upload-list" style="padding-left: 110px;">
					<img class="layui-upload-img" style="width: 200px;"
						id="idcardFront">
				</div>
			</div>
		</div>
		<!--************上面里是上传图片的代码***************-->
		<!--************这里是上传图片的代码***************-->
		<!--************这里添加的隐藏的输入框，用来传递images的参数***************-->
		<input type="hidden" name="idcardNegative" class="idcardNegative">
		<div class="layui-form-item">
			<label class="layui-form-label ">身份证照片(背面):</label>
			<div class="layui-upload">
				<div class="layui-upload-list" style="padding-left: 110px;">
					<img class="layui-upload-img" style="width: 200px;"
						id="idcardNegative">
				</div>
			</div>
		</div>
		<!--************上面里是上传图片的代码***************-->

		<input type="hidden" name="certificate" class="certificate">
		<div class="layui-form-item">
			<label class="layui-form-label ">合格证书:</label>
			<div class="layui-upload">
				<div class="layui-upload-list" style="padding-left: 110px;">
					<div id="certificate" ></div>
					<img class="layui-upload-img" style="width: 200px;"
					    id="gradeUrl">
				</div>
			</div>
		</div>
		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label">已完成课程：</label>
			<div id="finishedCourses" style="padding-top: 7px;"></div>
		</div>

		<div class="layui-form-item school-hide">
			<button class="layui-btn" lay-submit=""
				lay-filter="user-update-form-submit" id="submit"></button>
		</div>
	</form>
</div>

<script data-th-inline="javascript">
    layui.use(['school', 'form'], function () {
        let $ = layui.$,
            school = layui.school,
            layer = layui.layer,
            form = layui.form,
            user = [[${user}]];

        form.render();

        initUserValue();
        
        function initUserValue() {
            form.val("user-update-form", {
                "username": user.username,
                "mobile": user.mobile,
                "idcard": user.idcard,
                "nickname": user.nickname,
                "email": user.email,
                "status": user.status == 1 ? "有效" : "无效",
                "sex": user.sex,
                "description": user.description,
                "certificateNumber": user.certificateNumber,
				"workPlaceName": user.workPlaceName,
                "nationalityName":user.nationalityName,
                "subjectName":user.subjectName,
				"classesName":user.classesName
                
            });

            $('#oneInchPhoto').attr('src', user.oneInchPhoto);
            $(".oneInchPhoto").val(user.oneInchPhoto);
            
            $('#idcardFront').attr('src', user.idcardFront);
            $(".idcardFront").val(user.idcardFront);
            
            $('#idcardNegative').attr('src', user.idcardNegative);
            $(".idcardNegative").val(user.idcardNegative);


			$("#certificate").empty();
			var img="";
			if(user.certificateUrls!=null && user.certificateUrls.length>0){
				$.each(user.certificateUrls,function (index,value){
					img+='<img class="layui-upload-img" style="width: 200px;" src="'+value.certificateUrl
					+'">'
				})
			}
			$("#certificate").append(img);

			$('#gradeUrl').attr('src', user.gradeUrl);
			$(".gradeUrl").val(user.gradeUrl);

            $("#finishedCourses").empty();
            var str="无";
            if(user.playFinishedCourses!=null && user.playFinishedCourses.length>0){
            	str="<table style='line-height:25px'>";
            	$.each(user.playFinishedCourses,function(index,value){
            		str+="<tr><td>"+value.courseName+"</td></tr>";
            	});
            	str+="</table>";

            }
            $("#finishedCourses").append(str);
        }


    });
</script>