<style>
    #user-update {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="user-update">
    <form class="layui-form" action="" lay-filter="user-update-form">
        <div class="layui-form-item school-hide">
            <label class="layui-form-label school-form-item-require">用户id：</label>
            <div class="layui-input-block">
                <input type="text" name="userId" data-th-value="${user.userId}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">用户名：</label>
            <div class="layui-input-block">
                <input type="text" name="username" minlength="4" maxlength="10" data-th-id="${user.userId}"
                       lay-verify="range|username" autocomplete="off" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机：</label>
            <div class="layui-input-block">
                <input type="tel" name="mobile" lay-verify="phone" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱：</label>
            <div class="layui-input-block">
                <input type="text" name="email" lay-verify="email" maxlength="50" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">角色：</label>
            <div class="layui-input-block" id="user-update-role"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">部门：</label>
            <div class="layui-input-block" id="user-update-dept"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">状态：</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="1" title="有效">
                <input type="radio" name="status" value="0" title="禁用">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">性别：</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="0" title="男性">
                <input type="radio" name="sex" value="1" title="女性">
                <input type="radio" name="sex" value="2" title="保密">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <textarea name="description" maxlength="100" class="layui-textarea">
                </textarea>
            </div>
        </div>
        <div class="layui-form-item school-hide">
            <button class="layui-btn" lay-submit="" lay-filter="user-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['school', 'form', 'xmSelect', 'validate'], function () {
        let $ = layui.$,
            school = layui.school,
            layer = layui.layer,
            form = layui.form,
            xmSelect = layui.xmSelect,
            user = [[${user}]],
            validate = layui.validate,
            roleXmSelect,
            deptXmlSelect;

        form.verify(validate);
        form.render();

        initUserValue();

        deptXmlSelect = xmSelect.render({
            el: '#user-update-dept',
            model: {label: {type: 'text'}},
            tree: {
                show: true,
                strict: false,
                showLine: false,
                clickCheck: true,
                expandedKeys: [-1],
            },
            name: 'deptId',
            theme: {
                color: '#52c41a',
            },
            prop: {
                value: 'id'
            },
            height: 'auto',
            on: function (data) {
                if (data.isAdd) {
                    return data.change.slice(0, 1)
                }
            }
        });

        school.get(ctx + 'dept/select/tree', null, function (data) {
            deptXmlSelect.update(data)
            user.deptId && deptXmlSelect.setValue([user.deptId]);
        });

        roleXmSelect = xmSelect.render({
            el: '#user-update-role',
            toolbar: {show: true},
            name: 'roleId',
            theme: {
                color: '#32c787',
            },
            prop: {
                name: 'roleName',
                value: 'roleId'
            },
            data: []
        });

        school.get(ctx + 'role', null, function (data) {
            roleXmSelect.update({
                data: data.data,
                autoRow: true,
            })
            roleXmSelect.setValue(user.roleId.split(','));
        });

        function initUserValue() {
            form.val("user-update-form", {
                "username": user.username,
                "mobile": user.mobile,
                "email": user.email,
                "status": user.status,
                "sex": user.sex,
                "description": user.description
            });
        }

        form.on('submit(user-update-form-submit)', function (data) {
            if (!data.field.roleId) {
                school.alert.warn('请选择用户角色');
                return false;
            }
            if (school.nativeEqual(data.field, user)) {
                school.alert.warn('数据未作任何修改！');
                return false;
            }
            school.post(ctx + 'user/update', data.field, function () {
                layer.closeAll();
                school.alert.success(user.username + ' 用户数据修改成功');
                $('#school-user').find('#query').click();
            });
            return false;
        });
    });
</script>