<style>
    #school-subject xm-select {
        min-height: 30px;
        line-height: 30px;
    }
    #school-subject xm-select > .xm-label .scroll .label-content {
        display: flex;
        padding: 0 30px 0 10px;
    }
</style>
<div class="layui-fluid layui-anim school-anim" id="school-subject" lay-title="科目管理">
    <div class="layui-row school-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body school-table-full">
                    <form class="layui-form layui-table-form" lay-filter="subject-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">科目标题</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="title" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">所属科目</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="pSubjectTitle" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary school-button-blue-plain table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary school-button-green-plain table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                     shiro:hasAnyPermissions="subject:add,subject:update,subject:export">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="subjectTable" lay-data="{id: 'subjectTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="subject-status">
    {{#
    let status = {
    1: {title: '有效', color: 'green'},
    0: {title: '禁用', color: 'volcano'}
    }[d.status];
    }}
    <span class="layui-badge school-bg-{{status.color}}">{{ status.title }}</span>
</script>

<script type="text/html" id="subject-option">
    <span shiro:lacksPermission="subject:view,subject:update,subject:delete">
        <span class="layui-badge-dot school-bg-orange"></span> 无权限
    </span>
    <a lay-event="detail" shiro:hasPermission="subject:view"><i
            class="layui-icon school-edit-area school-green">&#xe7a5;</i></a>
    <a lay-event="update" shiro:hasPermission="subject:update"><i
            class="layui-icon school-edit-area school-blue">&#xe7a4;</i></a>
    <a lay-event="del" shiro:hasPermission="subject:delete"><i class="layui-icon school-edit-area school-red">&#xe7f9;</i></a>
</script>
<script type="text/html" id="subject-public">
    {{#
    let isPublic = {
    1: {title: '是', color: 'green'},
    0: {title: '否', color: 'volcano'}
    }[d.isPublic];
    }}
    <span class="layui-badge school-bg-{{isPublic.color}}">{{ isPublic.title }}</span>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdownMenu', 'jquery', 'laydate', 'form', 'table', 'school'], function () {
        let $ = layui.jquery,
            laydate = layui.laydate,
            school = layui.school,
            form = layui.form,
            table = layui.table,
            dropdownMenu = layui.dropdownMenu,
            $view = $('#school-subject'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns;

        form.render();

        initTable();

        laydate.render({
            elem: '#subject-createTime',
            range: true,
            trigger: 'click'
        });

        dropdownMenu.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                let checkStatus = table.checkStatus('subjectTable');
                if (name === 'add') {
                    school.modal.open('新增科目', 'subject/add', {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 800 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#subject-add').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#subject-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        school.alert.warn('请选择需要删除的科目');
                    } else {
                        school.modal.confirm('删除科目', '确定删除该科目？', function () {
                            let subjectIds = [];
                            layui.each(checkStatus.data, function (key, item) {
                                subjectIds.push(item.subjectId)
                            });
                            deletesubjects(subjectIds.join(','));
                        });
                    }
                }
                if (name === 'export') {
                    let params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
                    params.pageSize = $view.find(".layui-laypage-limits option:selected").val();
                    params.pageNum = $view.find(".layui-laypage-em").next().html();
                    school.download(ctx + 'subject/excel', params, '科目信息表.xlsx');
                }
            },
            options: [{
                name: 'add',
                title: '新增科目',
                perms: 'subject:add'
            }, {
                name: 'delete',
                title: '删除科目',
                perms: 'subject:delete'
            }, {
                name: 'export',
                title: '导出Excel',
                perms: 'subject:export'
            }]
        });
        
        table.on('tool(subjectTable)', function (obj) {
            let data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'detail') {
                school.modal.view('科目信息', 'subject/detail/' + data.subjectId, {
                    area: $(window).width() <= 750 ? '95%' : '660px'
                });
            }
            if (layEvent === 'del') {
                school.modal.confirm('删除科目', '确定删除该科目？', function () {
                    deletesubjects(data.subjectId);
                });
            }
            if (layEvent === 'update') {
                school.modal.open('修改科目', 'subject/update/' + data.subjectId, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#subject-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
        });

        table.on('sort(subjectTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            let params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            tableIns.reload({where: getQueryParams(true), page: {curr: 1}, initSort: sortObject});
        });

        function initTable() {
            tableIns = school.table.init({
                elem: $view.find('table'),
                id: 'subjectTable',
                url: ctx + 'subject/list',
                cols: [[
                    {type: 'checkbox'},
                    {field: 'subjectId', title: '科目ID', minWidth: 10},
                    {field: 'psubjectTitle', title: '所属科目', minWidth: 100},
                    {field: 'title', title: '科目标题', minWidth: 200},
                    {field: 'content', title: '介绍文本', minWidth: 200},
                    {title: '公共课', templet: '#subject-public'},
                    {field: 'createTime', title: '创建时间', minWidth: 180, sort: true},
                    {title: '操作', toolbar: '#subject-option', minWidth: 140}
                ]]
            });
        }

        function getQueryParams(flag) {
            let params = $searchForm.serializeJson();
            
            params.invalidate_ie_cache = new Date();
            return params;
        }

        function deletesubjects(subjectIds) {
            school.get(ctx + 'subject/delete/' + subjectIds, null, function () {
                school.alert.success('删除科目成功');
                $query.click();
            });
        }
    })
</script>