<style>
	#subject-add {
		padding: 20px 25px 25px 0;
	}
</style>
<div class="layui-fluid" id="subject-add">
	<form class="layui-form" action="" lay-filter="subject-add-form">
		<div class="layui-form-item">
			<label class="layui-form-label school-form-item-require">科目标题：</label>
			<div class="layui-input-block">
				<input type="text" name="title" minlength="2" maxlength="10" lay-verify="range|subjectname"
					autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label school-form-item-require">所属科目：</label>
			<div class="layui-form layui-input-block">
				<select name="pSubjectId" lay-verify="" lay-search lay-filter="pSubject" id="pSubject">
					<option value="0">无</option>
				</select>
			</div>
		</div>
		<div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">公共课：</label>
            <div class="layui-input-block">
                <input type="radio" name="isPublic" value="1" title="是">
                <input type="radio" name="isPublic" value="0" title="否" checked="">
            </div>
        </div>
		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label">介绍文本：</label>
			<div class="layui-input-block">
				<textarea name="content" maxlength="255" class="layui-textarea"></textarea>
			</div>
		</div>
		<!--************这里是上传图片的代码***************-->
		<!--************这里添加的隐藏的输入框，用来传递images的参数***************-->
		<input type="hidden" name="imgUrl" class="imgUrl">
		<div class="layui-form-item">
			<label class="layui-form-label ">照片:</label>
			<div class="layui-upload">
				<button type="button" class="layui-btn" id="test1">上传图片</button>
				<div class="layui-upload-list" style="padding-left: 110px;">
					<img class="layui-upload-img" style="height:150px;" id="demo1">
					<p id="demoText"></p>
				</div>
			</div>
		</div>
		<!--************上面里是上传图片的代码***************-->
		<div class="layui-form-item school-hide">
			<button class="layui-btn" lay-submit="" lay-filter="subject-add-form-submit" id="submit"></button>
			<button type="reset" class="layui-btn" id="reset"></button>
		</div>
	</form>
</div>

<script>
	layui
		.use(
			['school', 'form', 'validate', 'xmSelect', 'upload',
				'element'],
			function () {
				let $ = layui.$, school = layui.school, layer = layui.layer, form = layui.form, xmSelect = layui.xmSelect, validate = layui.validate, upload = layui.upload, element = layui.element, subjecttypeXmlSelect;

				element.render('progress');
				form.verify(validate);
				form.render();

				school.get(ctx + 'subject/list/pid?subject_id=0', null, function (data) {
					var str = "";
					$.each(data.data, function (index, value) {
						str += "<option value='" + value.subjectId + "'>" + value.title + "</option>";
					});
					$("#pSubject").append(str);
					form.render('select');
				});

				//普通图片上传
				var uploadInst = upload.render({
					elem: '#test1'
					, url: ctx + 'subject/upload/'
					, accept: 'images'
					, size: 50000
					, before: function (obj) {

						obj.preview(function (index, file, result) {

							$('#demo1').attr('src', result);
						});
					}
					, done: function (res) {
						//如果上传失败
						if (res.code > 0) {
							return layer.msg('上传失败');
						}
						//上传成功
						var demoText = $('#demoText');
						demoText.html('<span style="color: #4cae4c;">上传成功</span>');

						var fileupload = $(".imgUrl");
						fileupload.attr("value", res.data.src);
						console.log(fileupload.attr("value"));
					}
					, error: function () {
						//演示失败状态，并实现重传
						var demoText = $('#demoText');
						demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
						demoText.find('.demo-reload').on('click', function () {
							uploadInst.upload();
						});
					}
				});

				form.on('submit(subject-add-form-submit)', function (
					data) {
					school.post(ctx + 'subject', data.field, function () {
						layer.closeAll();
						school.alert.success('新增课程成功');
						$('#school-subject').find('#query').click();
					});
					return false;
				});

				var xhrOnProgress = function (fun) {
					xhrOnProgress.onprogress = fun; //绑定监听
					//使用闭包实现监听绑
					return function () {
						//通过$.ajaxSettings.xhr();获得XMLHttpRequest对象
						var xhr = $.ajaxSettings.xhr();
						//判断监听函数是否为函数
						if (typeof xhrOnProgress.onprogress !== 'function')
							return xhr;
						//如果有监听函数并且xhr对象支持绑定时就把监听函数绑定上去
						if (xhrOnProgress.onprogress && xhr.upload) {
							xhr.upload.onprogress = xhrOnProgress.onprogress;
						}
						return xhr;
					}
				}
			});
</script>