<style>
    #subject-update {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="subject-update">
    <form class="layui-form" action="" lay-filter="subject-update-form">
        <div class="layui-form-item school-hide">
            <label class="layui-form-label school-form-item-require">科目id：</label>
            <div class="layui-input-block">
                <input type="text" name="subjectId" data-th-value="${subject.subjectId}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">科目标题：</label>
            <div class="layui-input-block">
                <input type="text" name="title" minlength="2" maxlength="10" src="${subject.title}"
                        autocomplete="off" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">公共课：</label>
            <div class="layui-input-block">
                <input type="radio" name="isPublic" value="1" title="是">
                <input type="radio" name="isPublic" value="0" title="否">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">介绍文本：</label>
            <div class="layui-input-block">
                <textarea name="content" maxlength="100" class="layui-textarea">
                </textarea>
            </div>
        </div>
        <!--************这里是上传图片的代码***************-->
        <!--************这里添加的隐藏的输入框，用来传递images的参数***************-->
        <input type="hidden" name="imgUrl" class="imgUrl">
        <div class="layui-form-item">
            <label class="layui-form-label ">照片:</label>
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test1">上传图片</button>
                <div class="layui-upload-list" style="padding-left: 110px;">
                    <img class="layui-upload-img" style="width:150px;" id="demo1">
                    <p id="demoText"></p>
                </div>
            </div>
        </div>
        <!--************上面里是上传图片的代码***************-->
        <div class="layui-form-item school-hide">
            <button class="layui-btn" lay-submit="" lay-filter="subject-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['school', 'form', 'xmSelect', 'validate'], function () {
        let $ = layui.$,
            school = layui.school,
            layer = layui.layer,
            form = layui.form,
            subject = [[${subject}]],
            validate = layui.validate,
            dataPermissionXmlSelect,
            upload = layui.upload;

        form.verify(validate);
        form.render();

        initsubjectValue();

        function initsubjectValue() {
            form.val("subject-update-form", {
                "title": subject.title,
                "content": subject.content,
                "subjectId": subject.subjectId,
                "isPublic":subject.isPublic
            });
            $("#demo1").attr("src",subject.imgUrl);
            var fileupload = $(".imgUrl");
            fileupload.attr("value", subject.imgUrl);
        }

        form.on('submit(subject-update-form-submit)', function (data) {
            school.post(ctx + 'subject/update', data.field, function () {
                layer.closeAll();
                school.alert.success(subject.title + ' 科目数据修改成功');
                $('#school-subject').find('#query').click();
            });
            return false;
        });
        
      //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            , url: ctx + 'subject/upload/'
            , accept: 'images'
            , size: 50000
            , before: function (obj) {

                obj.preview(function (index, file, result) {

                    $('#demo1').attr('src', result);
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                //上传成功
                var demoText = $('#demoText');
                demoText.html('<span style="color: #4cae4c;">上传成功</span>');

                var fileupload = $(".imgUrl");
                fileupload.attr("value", res.data.src);
                console.log(fileupload.attr("value"));
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });

    });
</script>