<style>
    #school-subject-detail #subject-img, #school-subject-detail .subject-info {
        display: inline-block;
        float: left;
        margin-left: 15px;
    }

    #school-subject-detail #subject-img img {
        width: 7rem;
        margin: 10px 10px 0 20px;
        border-radius: 50%;
        cursor: pointer;
    }

    #school-subject-detail #subject-info-wrapper {
        margin: 0 0 1rem 0;
        display: inline-block;
    }

    #school-subject-detail .subject-info div {
        margin: 10px 15px;
        max-width: 19rem;
    }

    #school-subject-detail #options-wrapper a {
        padding: 4px 6px;
        color: rgba(0, 0, 0, 0.65);
        border: 1px solid #d9d9d9;
        border-radius: 2px;
    }

    #school-subject-detail #options-wrapper a:hover {
        color: #40a9ff;
        border-color: #40a9ff;
    }

</style>
<div class="layui-fluid" id="school-subject-detail" lay-title="科目信息">
    <div id="subject-info-wrapper">
        <div class="subject-info">
            <div><span class="layui-icon"></span> 科目标题：
                [[${subject.title}]]
            </div>
            
            <div><span class="layui-icon"></span> 介绍文本：
                [[${#strings.defaultString(subject.content,'无')}]]
            </div>
            <div><span class="layui-icon"></span> 缩 略 图：
                <img style="width:150px;" data-th-src="${subject.imgUrl}">
            </div>
        </div>
        <div class="subject-info">
            <div><span class="layui-icon"></span> 所属科目：
                [[${#strings.defaultString(subject.pSubjectTitle,'无')}]]
            </div>
            <div><span class="layui-icon"></span> 公共课：
                [[${subject.isPublic}]]
            </div>
        </div>
    </div>
</div>