
<style>
    #school-courseType xm-select {
        min-height: 30px;
        line-height: 30px;
    }
    #school-courseType xm-select > .xm-label .scroll .label-content {
        display: flex;
        padding: 0 30px 0 10px;
    }
</style>
<div class="layui-fluid " id="school-courseType" lay-title="课程类型管理">
    <div class="layui-row ">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body school-table-full">
                    <form class="layui-form layui-table-form" lay-filter="courseTypeTable-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">课程类别</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="ctypeName" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">介绍文本</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="introduce" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">创建时间</label>
                                        <div class="layui-input-inline">
                                            <input type="text" class="layui-input" name="createtime" id="course-type-time" placeholder="开始 到 结束">
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary school-button-blue-plain table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary school-button-green-plain table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                     >
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="courseTypeTable" lay-data="{id: 'courseTypeTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/html" id="courseTypeTable-option">
    <a lay-event="detail"  title="详情"><i
            class="layui-icon school-edit-area school-green">&#xe7a5;</i></a>
    <a lay-event="edit"  title="编辑"><i
            class="layui-icon school-edit-area school-blue">&#xe7a4;</i></a>
    <a lay-event="del" title="删除">
        <i class="layui-icon school-edit-area school-red">&#xe7f9;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdownMenu', 'jquery', 'laydate', 'form', 'table', 'school'], function () {
        let $ = layui.jquery,
            laydate = layui.laydate,
            school = layui.school,
            form = layui.form,
            table = layui.table,
            dropdownMenu = layui.dropdownMenu,
            $view = $('#school-courseType'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns,
            createTimeFrom,
            createTimeTo;

        form.render();

        initTable();

        laydate.render({
            elem: '#courseTypeTable-createTime',
            range: true,
            trigger: 'click'
        });
        laydate.render({
            elem: '#course-type-time'
            ,type: 'datetime'
            ,range: '到'
            ,format: 'yyyy-M-d H:m:s'

        });

        dropdownMenu.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                let checkStatus = table.checkStatus('courseTypeTable');
                if (name === 'add') {
                    school.modal.open('新增类型', 'courseType/add', {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#courseType-add').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#courseType-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        school.alert.warn('请选择需要删除的类型');
                    } else {
                        school.modal.confirm('删除类型', '确定删除该类型？', function () {
                            let courseTypeIds = [];
                            layui.each(checkStatus.data, function (key, item) {
                                courseTypeIds.push(item.ctypeId)
                            });
                            deleteCourseTypes(courseTypeIds.join(','))
                        });
                    }
                }




            },
            options: [{
                name: 'add',
                title: '新增类型',
            }, {
                name: 'delete',
                title: '删除类型',
            }
            ]
        });

        table.on('tool(courseTypeTable)', function (obj) {
            let data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'detail') {
                school.modal.view('类型信息', 'system/courseTypeTable/detail/' + data.courseTypeTableId, {
                    area: $(window).width() <= 750 ? '95%' : '660px'
                });
            }
            if (layEvent === 'del') {
                school.modal.confirm('删除类型', '确定删除该类型？', function () {
                    deleteCourseTypes(data.ctypeId);
                });
            }
            if (layEvent === 'edit') {
                school.modal.open('修改类型', 'courseType/update/' + data.ctypeId, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#courseType-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }



        });

        table.on('sort(courseTypeTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            let params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            params.startTime=params.createtime.split("到")[0];
            params.endTime=params.createtime.split("到")[1];
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            sortObject.type = 'null';
            createTimeTo = null;
            createTimeFrom = null;
            tableIns.reload({where: getQueryParams(true), page: {curr: 1}, initSort: sortObject});
        });

        function initTable() {
            tableIns = school.table.init({
                elem: $view.find('table'),
                id: 'courseTypeTable',
                url: ctx + 'courseType/list',

                cols: [[
                    {type: 'checkbox'},
                    {field: 'ctypeName', title: '课程类型',minWidth: 50},
                    {field: 'introduce', title: '详情', minWidth: 100},
                    {field: 'createTime', title: '创建时间', minWidth: 180, sort: true},
                    {title: '操作', toolbar: '#courseTypeTable-option', minWidth: 200}
                ]]
            });
        }

        function getQueryParams(flag) {

            let params = $searchForm.serializeJson();
            let createTime = params.time;
            if (createTime) {
                createTimeFrom = createTime.split(' - ')[0];
                createTimeTo = createTime.split(' - ')[1];
            }
            params.invalidate_ie_cache = new Date();
            params.createTimeFrom = createTimeFrom;
            params.createTimeTo = createTimeTo;

            return params;
        }
        
        function deleteCourseTypes(courseTypeIds) {
            school.get(ctx + 'courseType/delete/' + courseTypeIds, null, function () {
                school.alert.success('删除类型成功');
                $query.click();
            });
        }


    })
</script>