<div class="layui-fluid layui-anim school-anim" id="school-online" lay-title="在线用户">
    <div class="layui-row school-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body school-table-full">
                    <form class="layui-form layui-table-form" lay-filter="online-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md11">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">用户名</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="username" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md1 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary school-button-blue-plain  table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary school-button-green-plain  table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="school-hide">
                        <span class="school-alert-base school-alert-success" id="count"></span>
                    </div>
                    <table lay-filter="onlineTable" lay-data="{id: 'onlineTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="online-username">
    <div>
        {{d.username}}
        {{#
        if (d.current) {
        }}
        <span class="layui-badge school-tag-red">current</span>
        {{#
        }
        }}
    </div>
</script>
<script type="text/html" id="online-status">
    {{#
    let status = {
    1: {title: '在线', color: 'green'},
    0: {title: '离线', color: 'volcano'}
    }[d.status];
    }}
    <span class="layui-badge school-bg-{{status.color}}">{{ status.title }}</span>
</script>
<script type="text/html" id="online-option">
    <span shiro:lacksPermission="user:kickout">
        <span class="layui-badge-dot school-bg-orange"></span> 无权限
    </span>
    <a lay-event="del" shiro:hasPermission="user:kickout"><i class="layui-icon school-edit-area school-red">&#xe7a1;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['jquery', 'form', 'table', 'school'], function () {
        let $ = layui.jquery,
            laydate = layui.laydate,
            school = layui.school,
            form = layui.form,
            table = layui.table,
            $view = $('#school-online'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            tableIns;

        form.render();

        initTable();

        table.on('tool(onlineTable)', function (obj) {
            let data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'del') {
                school.modal.confirm('踢出用户', '确定将该用户踢出？', function () {
                    if (data.current) {
                        $.get(ctx + 'logout', function () {
                            window.location.reload();
                        });
                    } else {
                        school.get(ctx + "session/delete/" + data.id, null, function () {
                            school.alert.success('踢出用户成功');
                            $query.click();
                        });
                    }
                });
            }
        });

        $query.on('click', function () {
            tableIns.reload({where: getQueryParams()});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            tableIns.reload({where: getQueryParams()});
        });

        function initTable() {
            tableIns = school.table.init({
                elem: $view.find('table'),
                id: 'onlineTable',
                url: ctx + 'session/list',
                page: false,
                cols: [[
                    {title: '用户名', templet: '#online-username', minWidth: 180},
                    {field: 'startTimestamp', title: '登录时间', minWidth: 180},
                    {field: 'lastAccessTime', title: '最后访问时间', minWidth: 180},
                    {field: 'host', title: 'IP地址', minWidth: 165},
                    {field: 'location', title: '登录地点', minWidth: 180},
                    {title: '状态', templet: '#online-status'},
                    {title: '操作', toolbar: '#online-option'}
                ]],
                done: function (r) {
                    $view.find('span#count').html('当前共<strong> ' + r.count + ' </strong>人在线')
                        .parents('div.school-hide').show();
                }
            });
        }

        function getQueryParams() {
            let params = $searchForm.serializeJson();
            params.invalidate_ie_cache = new Date();
            return params;
        }
    })
</script>