<div class="layui-fluid layui-anim school-anim" id="school-swagger" lay-title="Swagger文档">
    <div class="layui-row school-container">
        <iframe id="container" data-th-src="@{/swagger-ui/index.html}" frameborder="no" style="width: 100%;" scrolling="auto" />
    </div>
</div>
<script data-th-inline="javascript" type="text/javascript">
    layui.use(['jquery'], function () {
        let $ = layui.jquery,
            $view = $('#school-swagger');
        $view.find('#container').css({"height": document.documentElement.clientHeight - 97 + 'px'});
    });
</script>