<div class="layui-fluid layui-anim school-anim" id="school-error-500" lay-title="500">
    <div class="layui-row layui-col-space10" style="margin-top:100px">
        <div class="layui-col-xs3 layui-col-xs-offset2">
            <img data-th-src="@{school/images/error/500.svg}" alt="" width="85%"/>
        </div>
        <div class="layui-col-xs7">
            <h1 style="font-size: 60px">500</h1>
            <h2 class="school-mar-b20 school-c-gray">抱歉，服务器出错了</h2>
            <button class="layui-btn layui-btn-normal" id="home">返回首页</button>
        </div>
    </div>
</div>
<script data-th-inline="javascript" type="text/javascript">
    layui.use(['jquery', 'school'], function () {
        let $ = layui.jquery,
            school = layui.school,
            $view = $('#school-error-500');
        $view.find('button#home').on('click', function () {
            school.view.tab.del(ctx + '500');
            school.view.tab.change(ctx + "index");
        })
    });
</script>