<div class="layui-fluid layui-anim school-anim" id="school-eximport" lay-title="导入导出">
    <div class="layui-row school-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body school-table-full">
                    <button class="layui-btn  layui-btn-sm layui-btn-primary school-button-blue-plain" id="template-download"
                            shiro:hasPermission="eximport:template">
                        <i class="layui-icon">&#xe82a;</i> 模板下载
                    </button>
                    <button class="layui-btn  layui-btn-sm layui-btn-primary school-button-green-plain " id="export"
                            shiro:hasPermission="eximport:export">
                        <i class="layui-icon">&#xe7a8;</i> 导出Excel
                    </button>
                    <button class="layui-btn  layui-btn-sm layui-btn-success" id="import"
                            shiro:hasPermission="eximport:import">
                        <i class="layui-icon">&#xe7aa;</i> 导入Excel
                    </button>
                    <table lay-filter="eximportTable" lay-data="{id: 'eximportTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script data-th-inline="none" type="text/javascript">
    layui.use(['jquery', 'table', 'school', 'upload'], function () {
        let $ = layui.jquery,
            school = layui.school,
            upload = layui.upload,
            table = layui.table,
            $view = $('#school-eximport'),
            tableIns;

        initTable();

        upload.render({
            elem: '#import',
            url: ctx + 'eximport/import',
            accept: 'file',
            exts: 'xlsx', // 只能上传 .xlsx格式
            size: 5 * 1024, // kb
            before: function () {
                school.view.loadBar.start();
            },
            done: function (res) {
                school.view.loadBar.finish();
                if (res.code === 200) {
                    // 刷新 table
                    tableIns.reload({page: {curr: 1}});
                    let data = res.data;
                    // 弹出导入结果
                    school.modal.open('导入结果', 'others/eximport/result', {
                        area: $(window).width() <= 750 ? '95%' : '1000px',
                        data: data
                    });
                }
            }, error: function (res) {
                //请求异常回调
                console.error(res);
                school.view.loadBar.error();
                school.alert.error('导入失败！');
            }
        });

        $view.on('click', '#template-download', function () {
            school.download(ctx + 'eximport/template', null, 'Excel导入模板.xlsx');
        });

        $view.on('click', '#export', function () {
            let params = {};
            params.pageSize = $view.find(".layui-laypage-limits option:selected").val();
            params.pageNum = $view.find(".layui-laypage-em").next().html();
            school.download(ctx + 'eximport/excel', params, 'Excel导出结果.xlsx');
        });

        function initTable() {
            tableIns = school.table.init({
                elem: $view.find('table'),
                id: 'eximportTable',
                url: ctx + 'eximport',
                cols: [[
                    {field: 'field1', title: '字段1'},
                    {field: 'field2', title: '字段2'},
                    {field: 'field3', title: '字段3'},
                    {field: 'createTime', title: '导入时间'}
                ]]
            });
        }

    })
</script>