<style>
#school-face_detect xm-select {
	min-height: 30px;
	line-height: 30px;
}

#school-face_detect xm-select>.xm-label .scroll .label-content {
	display: flex;
	padding: 0 30px 0 10px;
}
</style>
<div class="layui-fluid layui-anim school-anim" id="school-face_detect"
	lay-title="人脸检测记录">
	<div class="layui-row school-container">
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-body school-table-full">
					<form class="layui-form layui-table-form"
						lay-filter="face_detect-table-form">
						<div class="layui-row">
							<div class="layui-col-md10">
								<div class="layui-form-item">
									<div class="layui-inline">
										<label class="layui-form-label layui-form-label-sm">用户名</label>
										<div class="layui-input-inline">
											<input type="text" name="username" autocomplete="off"
												class="layui-input">
										</div>
									</div>
									<div class="layui-inline">
										<label class="layui-form-label layui-form-label-sm">课程名称</label>
										<div class="layui-input-inline">
											<input type="text" name="courseName" autocomplete="off"
												class="layui-input">
										</div>
									</div>
								</div>
							</div>
							<div
								class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
								<div
									class="layui-btn layui-btn-sm layui-btn-primary school-button-blue-plain table-action"
									id="query">
									<i class="layui-icon">&#xe848;</i>
								</div>
								<div
									class="layui-btn layui-btn-sm layui-btn-primary school-button-green-plain table-action"
									id="reset">
									<i class="layui-icon">&#xe79b;</i>
								</div>
								<div
									class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
									shiro:hasAnyPermissions="face_detect:export">
									<i class="layui-icon">&#xe875;</i>
								</div>
							</div>
						</div>
					</form>
					<table lay-filter="face_detectTable"
						lay-data="{id: 'face_detectTable'}"></table>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/html" id="face_detect-status">
    {{#
    let status = {
    1: {title: '有效', color: 'green'},
    0: {title: '禁用', color: 'volcano'}
    }[d.status];
    }}
    <span class="layui-badge school-bg-{{status.color}}">{{ status.title }}</span>
</script>

<script type="text/html" id="face_detect-option">
    <span shiro:lacksPermission="face_detect:view,face_detect:update,face_detect:delete">
        <span class="layui-badge-dot school-bg-orange"></span> 无权限
    </span>
    <a lay-event="detail" shiro:hasPermission="face_detect:view"><i
            class="layui-icon school-edit-area school-green">&#xe7a5;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdownMenu', 'jquery', 'laydate', 'form', 'table', 'school'], function () {
        let $ = layui.jquery,
            laydate = layui.laydate,
            school = layui.school,
            form = layui.form,
            table = layui.table,
            dropdownMenu = layui.dropdownMenu,
            $view = $('#school-face_detect'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns;

        form.render();

        initTable();

        laydate.render({
            elem: '#face_detect-createTime',
            range: true,
            trigger: 'click'
        });

        dropdownMenu.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                let checkStatus = table.checkStatus('face_detectTable');
                if (name === 'export') {
                    let params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
                    params.pageSize = $view.find(".layui-laypage-limits option:selected").val();
                    params.pageNum = $view.find(".layui-laypage-em").next().html();
                    school.download(ctx + 'face_detect/excel', params, '人脸检测记录.xlsx');
                }
            },
            options: [{
                name: 'export',
                title: '导出Excel',
                perms: 'face_detect:export'
            }]
        });
        
        table.on('tool(face_detectTable)', function (obj) {
            let data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'detail') {
                school.modal.view('人脸检测信息', 'face_detect/detail/' + data.id, {
                    area: $(window).width() <= 750 ? '95%' : '660px'
                });
            }
        });

        table.on('sort(face_detectTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            let params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            tableIns.reload({where: getQueryParams(true), page: {curr: 1}, initSort: sortObject});
        });

        function initTable() {
            tableIns = school.table.init({
                elem: $view.find('table'),
                id: 'face_detectTable',
                url: ctx + 'face_detect/list',
                cols: [[
                    {type: 'checkbox'},
                    {field: 'id', title: 'ID', minWidth: 10},
                    {field: 'username', title: '用户名', minWidth: 100},
                    {field: 'subjectName', title: '科目标题', minWidth: 100},
                    {field: 'courseName', title: '课程名称', minWidth: 100},
                    {field: 'time', title: '播放时间', minWidth: 100,templet:function(d){
                    	var date=d.time;
                    	var days    = date / 1000 / 60 / 60 / 24;
                    	var daysRound = Math.floor(days);
                    	var hours    = date/ 1000 / 60 / 60 - (24 * daysRound);
                        var hoursRound   = Math.floor(hours);
                        var minutes   = date / 1000 /60 - (24 * 60 * daysRound) - (60 * hoursRound);
                        var minutesRound  = Math.floor(minutes);
                        var seconds   = date/ 1000 - (24 * 60 * 60 * daysRound) - (60 * 60 * hoursRound) - (60 * minutesRound);
                        var secondsRound  = Math.floor(seconds);
                        var res = formatZero(hoursRound,2) +":"+formatZero(minutesRound,2)+":"+formatZero(secondsRound,2);
                    	return res;
                    }},
                    {field: 'createTime', title: '创建时间', minWidth: 180, sort: true},
                    {title: '操作', toolbar: '#face_detect-option', minWidth: 140}
                ]]
            });
        }

        function getQueryParams(flag) {
            let params = $searchForm.serializeJson();
            
            params.invalidate_ie_cache = new Date();
            return params;
        }

    })
    function formatZero(num, len) {
        if(String(num).length > len) return num;
        return (Array(len).join(0) + num).slice(-len);
    }
</script>