<style>
#face_detect-detail {
	padding: 20px 30px 25px 0;
}
</style>
<div class="layui-fluid" id="face_detect-detail">
	<form class="layui-form" action="" lay-filter="face_detect-detail-form">
		<div class="layui-form-item school-hide">
			<label class="layui-form-label">id：</label>
			<div class="layui-input-block">
				<input type="text" name="face_detect_id" id="face_detect_id"
					readonly="readonly">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">用户名：</label>
			<div class="layui-input-block">
				<input type="text" name="username" id="username" class="layui-input"
					readonly="readonly">
			</div>
		</div>
		<div class="layui-row layui-col-space10 layui-form-item">
			<div class="layui-col-lg6">
				<label class="layui-form-label">科目名称：</label>
				<div class="layui-input-block">
					<input type="text" name="subjectName" id="subjectName" class="layui-input"
						readonly="readonly">
				</div>
			</div>
			<div class="layui-col-lg6">
				<label class="layui-form-label">课程名称：</label>
				<div class="layui-input-block">
					<input type="text" name="courseName" id="courseName" class="layui-input"
						readonly="readonly">
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">播放时间：</label>
			<div class="layui-input-block">
				<input type="text" name="time" id="time" class="layui-input"
					readonly="readonly">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">创建时间：</label>
			<div class="layui-input-block">
				<input type="text" name="createTime" id="createTime"
					class="layui-input" readonly="readonly">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">证件照：</label>
			<div class="layui-input-block">
				<img id="oneInchPhoto" name="oneInchPhoto"
					style="height:150px;" src="">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">人脸检测图像：</label>
			<div class="layui-input-block">
				<img id="faceDetectUrl" name="faceDetectUrl"
					style="height:150px;" src="">
			</div>
		</div>
	</form>
</div>

<script data-th-inline="javascript">
    layui.use(['school', 'form', 'validate', 'upload', 'element'], function () {
        let $ = layui.$,
            school = layui.school,
            layer = layui.layer,
            form = layui.form,
            face_detect = [[${faceDetect}]]

        form.render();
        initface_detectValue();

        function initface_detectValue() {
        	$("#face_detect_id").val(face_detect.id);
        	$("#username").val(face_detect.username);
            $("#subjectName").val(face_detect.subjectName);
            $("#courseName").val(face_detect.courseName);
            $("#time").val(face_detect.time);
            
            var date=face_detect.time;
            var days    = date / 1000 / 60 / 60 / 24;
            var daysRound = Math.floor(days);
            var hours    = date/ 1000 / 60 / 60 - (24 * daysRound);
            var hoursRound   = Math.floor(hours);
            var minutes   = date / 1000 /60 - (24 * 60 * daysRound) - (60 * hoursRound);
            var minutesRound  = Math.floor(minutes);
            var seconds   = date/ 1000 - (24 * 60 * 60 * daysRound) - (60 * 60 * hoursRound) - (60 * minutesRound);
            var secondsRound  = Math.floor(seconds);
            var res = formatZero(hoursRound,2) +":"+formatZero(minutesRound,2)+":"+formatZero(secondsRound,2);
            $("#time").val(res);
            
            $("#createTime").val(face_detect.createTime);
            
            $('#oneInchPhoto').attr('src', face_detect.oneInchPhoto);
            $('#faceDetectUrl').attr('src', face_detect.faceDetectUrl);
        }
    });
    
    function formatZero(num, len) {
        if(String(num).length > len) return num;
        return (Array(len).join(0) + num).slice(-len);
    }
</script>