<style>
    #question-upload {
        padding: 20px 30px 25px 0;
    }
</style>
<div class="layui-fluid" id="question-upload">
    <form class="layui-form" action="" lay-filter="question-upload-form">
        <div class="layui-form-item">
            <div class="layui-col-lg6">
                <label class="layui-form-label school-form-item-require">科目：</label>
                <div
                        class="layui-input-block"
                        id="question-upload-subject"
                        lay-filter="question-upload-subject"
                ></div>
            </div>
            <div class="layui-col-lg6">
                <label class="layui-form-label school-form-item-require">课程：</label>
                <div
                        class="layui-input-block"
                        id="question-upload-course"
                        lay-filter="question-upload-course"
                ></div>
            </div>
            <div class="layui-inline" style="margin-left: 50px;margin-top: 50px">
                <div class="layui-input-inline" style="width:100%;">
                    <button class="layui-btn layui-btn" data-type="import" id="uploadQuestion" onclick="javascript:return false;">上传试题</button>
                </div>
            </div>
        </div>
        <div class="layui-form-item school-hide">
            <button
                    class="layui-btn"
                    lay-submit=""
                    lay-filter="question-upload-form-submit"
                    id="submit"
            ></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(["school", "form", "validate", "xmSelect"], function () {
        let $ = layui.$,
            school = layui.school,
            layer = layui.layer,
            form = layui.form,
            xmSelect = layui.xmSelect,
            validate = layui.validate,
            upload = layui.upload,
            subjectXmlSelect;

        form.verify(validate);
        form.render();
        var path=" 2"
        subjectXmlSelect = xmSelect.render({
            el: "#question-upload-subject",
            model: {
                label: {
                    type: "text",
                },
            },
            radio: true,
            clickClose: true,
            tree: {
                show: true,
                strict: false,
                showLine: false,
                clickCheck: true,
                expandedKeys: [-1],
            },
            name: "subject",
            theme: {
                color: "#52c41a",
            },
            prop: {
                value: "id",
            },
            height: "auto",
            on: function (data) {
                console.log(data.arr[0].id);
                school.get(
                    ctx + "course/select/" + data.arr[0].id,
                    null,
                    function (data) {
                        var courseData = [];
                        $.each(data.data, function (index, item) {
                            var json = {
                                name: item.courseName,
                                value: item.courseId,
                            };
                            courseData.push(json);
                        });
                        courseXmlSelect = xmSelect.render({
                            el: "#question-upload-course",
                            radio: true,
                            clickClose: true,
                            height: "auto",
                            filterable: true,
                            data: courseData,
                            name: "course",
                        });
                    }
                );
            },
        });

        school.get(ctx + "subject/select/tree", null, function (data) {
            subjectXmlSelect.update(data);
        });
        upload.render({
            elem: "#uploadQuestion",//导入id
            url: ctx + 'question/upload',
            accept: "file",
            exts: 'xls|xlsx|xlsm|xlt|xltx|xltm',
            before: function (obj) {
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result);

                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code != 200) {
                    return school.alert.error('上传失败');
                }
                //上传成功
                var demoText = $('#demoText2');
                demoText.html('<span style="color: #4cae4c;">上传成功</span>');
                $('#thumbnail').val(res.data.filepath);
                path=res.data.filepath;
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText2');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadImage.upload();
                });
            }
            // before: function(obj) {
            //     layer.msg('文件上传中...', {
            //         icon: 16,
            //         shade: 0.01,
            //         time: 0
            //     })
            // },
            // done: function (res) {
            //     layer.close(layer.msg());//关闭上传提示窗口
            //     if (res.code == 200) {
            //         layer.msg('上传成功！');
            //     }else{
            //         layer.msg('上传失败！');
            //     }
            // }
        });
        form.on("submit(question-upload-form-submit)", function (data) {
            if (data.field.subject == "") {
                school.alert.warn("请选择科目！");
                return false;
            }
            var jsonData={
                subject: data.field.subject,
                courseId: data.field.course,
                path:path
            }
            school.get(ctx + 'question/append/',jsonData,function (){
                layer.closeAll();
                school.alert.success('试题上传成功！');
            })



        });

    });
</script>
