<style>
  #question-add {
    padding: 20px 30px 25px 0;
  }
</style>
<div class="layui-fluid" id="question-add">
  <form class="layui-form" action="" lay-filter="question-add-form">
    <div class="layui-form-item">
      <div class="layui-col-lg6">
        <label class="layui-form-label school-form-item-require">科目：</label>
        <div
          class="layui-input-block"
          id="question-add-subject"
          lay-filter="question-add-subject"
        ></div>
      </div>
      <div class="layui-col-lg6">
        <label class="layui-form-label school-form-item-require">课程：</label>
        <div
          class="layui-input-block"
          id="question-add-course"
          lay-filter="question-add-course"
        ></div>
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-col-lg6">
        <label class="layui-form-label school-form-item-require">题型：</label>
        <div class="layui-input-block">
          <input
            type="radio"
            lay-filter="questionType"
            name="questionType"
            value="single_choice"
            title="单选题"
            checked=""
          />
          <input
            type="radio"
            lay-filter="questionType"
            name="questionType"
            value="multiple_choice"
            title="多选题"
          />
          <input
            type="radio"
            lay-filter="questionType"
            name="questionType"
            value="true_or_false"
            title="判断题"
          />
        </div>
      </div>
      <div class="layui-col-lg6">
        <label class="layui-form-label school-form-item-require">分数：</label>
        <div class="layui-input-block">
          <input
            type="text"
            id="score"
            name="score"
            lay-verify="number"
            class="layui-input"
          />
        </div>
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-col-lg12">
        <label class="layui-form-label school-form-item-require">题目：</label>
        <div class="layui-input-block">
          <textarea name="title" class="layui-textarea"></textarea>
        </div>
      </div>
    </div>
    <div id="singleChoice">
      <div class="layui-form-item">
        <label class="layui-form-label school-form-item-require">选项A：</label>
        <div class="layui-input-block">
          <div class="layui-col-lg1">
            <input type="radio" name="sc" value="A" />
          </div>
          <div class="layui-col-lg11">
            <input type="text" id="sctA" class="layui-input" />
          </div>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label school-form-item-require">选项B：</label>
        <div class="layui-input-block">
          <div class="layui-col-lg1">
            <input type="radio" name="sc" value="B" />
          </div>
          <div class="layui-col-lg11">
            <input type="text" id="sctB" class="layui-input" />
          </div>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label school-form-item-require">选项C：</label>
        <div class="layui-input-block">
          <div class="layui-col-lg1">
            <input type="radio" name="sc" value="C" />
          </div>
          <div class="layui-col-lg11">
            <input type="text" id="sctC" class="layui-input" />
          </div>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label school-form-item-require">选项D：</label>
        <div class="layui-input-block">
          <div class="layui-col-lg1">
            <input type="radio" name="sc" value="D" />
          </div>
          <div class="layui-col-lg11">
            <input type="text" id="sctD" class="layui-input" />
          </div>
        </div>
      </div>
    </div>
    <div id="multipleChoice" style="display: none">
      <div class="layui-form-item">
        <label class="layui-form-label school-form-item-require">选项A：</label>
        <div class="layui-input-block">
          <div class="layui-col-lg1">
            <input type="checkbox" name="mc" value="A" lay-skin="primary" />
          </div>
          <div class="layui-col-lg11">
            <input type="text" id="mctA" class="layui-input" />
          </div>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label school-form-item-require">选项B：</label>
        <div class="layui-input-block">
          <div class="layui-col-lg1">
            <input type="checkbox" name="mc" value="B" lay-skin="primary" />
          </div>
          <div class="layui-col-lg11">
            <input type="text" id="mctB" class="layui-input" />
          </div>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label school-form-item-require">选项C：</label>
        <div class="layui-input-block">
          <div class="layui-col-lg1">
            <input type="checkbox" name="mc" value="C" lay-skin="primary" />
          </div>
          <div class="layui-col-lg11">
            <input type="text" id="mctC" class="layui-input" />
          </div>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label school-form-item-require">选项D：</label>
        <div class="layui-input-block">
          <div class="layui-col-lg1">
            <input type="checkbox" name="mc" value="D" lay-skin="primary" />
          </div>
          <div class="layui-col-lg11">
            <input type="text" id="mctD" class="layui-input" />
          </div>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label school-form-item-require">选项E：</label>
        <div class="layui-input-block">
          <div class="layui-col-lg1">
            <input type="checkbox" name="mc" value="E" lay-skin="primary" />
          </div>
          <div class="layui-col-lg11">
            <input type="text" id="mctE" class="layui-input" />
          </div>
        </div>
      </div>
    </div>
    <div id="trueOrFalse" style="display: none">
      <div class="layui-form-item">
        <div class="layui-col-lg6">
          <label class="layui-form-label school-form-item-require">答案：</label>
          <div class="layui-input-block">
            <div class="layui-col-lg4">
              <label
                ><input type="radio" name="answer_3" value="1" /><i
                  class="layui-icon school-blue"
                  >&#xe889;</i
                ></label
              >
            </div>
            <div class="layui-col-lg4">
              <label
                ><input type="radio" name="answer_3" value="0" /><i
                  class="layui-icon school-red"
                  >&#xe88c;</i
                ></label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-form-item school-hide">
      <button
        class="layui-btn"
        lay-submit=""
        lay-filter="question-add-form-submit"
        id="submit"
      ></button>
      <button type="reset" class="layui-btn" id="reset"></button>
    </div>
  </form>
</div>

<script data-th-inline="javascript">
  layui.use(["school", "form", "validate", "xmSelect"], function () {
    let $ = layui.$,
      school = layui.school,
      layer = layui.layer,
      form = layui.form,
      xmSelect = layui.xmSelect,
      validate = layui.validate,
      subjectXmlSelect;

    form.verify(validate);
    form.render();

    subjectXmlSelect = xmSelect.render({
      el: "#question-add-subject",
      model:  {
        label: {
          type: "text",
        },
      },
      radio: true,
      clickClose: true,
      tree: {
        show: true,
        strict: false,
        showLine: false,
        clickCheck: true,
        expandedKeys: [-1],
      },
      name: "subject",
      theme: {
        color: "#52c41a",
      },
      prop: {
        value: "id",
      },
      height: "auto",
      on: function (data) {
        console.log(data.arr[0].id);
        school.get(
          ctx + "course/select/" + data.arr[0].id,
          null,
          function (data) {
            var courseData = [];
            $.each(data.data, function (index, item) {
              var json = {
                name: item.courseName,
                value: item.courseId,
              };
              courseData.push(json);
            });
            courseXmlSelect = xmSelect.render({
              el: "#question-add-course",
              radio: true,
              clickClose: true,
              height: "auto",
              filterable: true,
              data: courseData,
              name: "course",
            });
          }
        );
      },
    });

    school.get(ctx + "subject/select/tree", null, function (data) {
      subjectXmlSelect.update(data);
    });

    form.on("submit(question-add-form-submit)", function (data) {
      if (data.field.subject == "") {
        school.alert.warn("请选择科目！");
        return false;
      }

      if (data.field.score == "") {
        school.alert.warn("请填写分数！");
        return false;
      }
      if (data.field.title == "") {
        school.alert.warn("请填写题目！");
        return false;
      }
      var jsonData;
      var answer;
      switch (data.field.questionType) {
        case "single_choice":
          answer = $('input[name="sc"]:checked').val();
          if (answer == undefined) {
            school.alert.warn("请选择答案！");
            return false;
          }
          var sctA = $("#sctA").val();
          var sctB = $("#sctB").val();
          var sctC = $("#sctC").val();
          var sctD = $("#sctD").val();
          jsonData = {
            subject: data.field.subject,
            courseId: data.field.course,
            type: data.field.questionType,
            title: data.field.title,
            score: data.field.score,
            answer: answer,
            optionA: sctA,
            optionB: sctB,
            optionC: sctC,
            optionD: sctD,
          };
          break;
        case "multiple_choice":
          var arr_box = [];
          $('input[name="mc"]:checked').each(function () {
            arr_box.push($(this).val());
          });

          if (arr_box.length == 0) {
            school.alert.warn("请选择答案！");
            return false;
          }
          answer = arr_box.join(",");
          var mctA = $("#mctA").val();
          var mctB = $("#mctB").val();
          var mctC = $("#mctC").val();
          var mctD = $("#mctD").val();
          var mctE = $("#mctE").val();
          jsonData = {
            courseId: data.field.course,
            type: data.field.questionType,
            title: data.field.title,
            score: data.field.score,
            answer: answer,
            optionA: mctA,
            optionB: mctB,
            optionC: mctC,
            optionD: mctD,
            optionE: mctE,
          };
          break;
        case "true_or_false":
          answer = $('input[name="answer_3"]:checked').val();
          if (answer == undefined) {
            school.alert.warn("请选择答案！");
            return false;
          }
          jsonData = {
            courseId: data.field.course,
            type: data.field.questionType,
            title: data.field.title,
            score: data.field.score,
            answer: answer,
          };
          break;
      }

      school.post(ctx + "question", jsonData, function () {
        layer.closeAll();
        school.alert.success("新增试题成功");
        $("#school-question").find("#query").click();
      });
      return false;
    });

    form.on("radio(questionType)", function (data) {
      var val = data.value;
      switch (val) {
        case "single_choice":
          $("#singleChoice").show();
          $("#multipleChoice").hide();
          $("#trueOrFalse").hide();
          break;
        case "multiple_choice":
          $("#singleChoice").hide();
          $("#multipleChoice").show();
          $("#trueOrFalse").hide();
          break;
        case "true_or_false":
          $("#singleChoice").hide();
          $("#multipleChoice").hide();
          $("#trueOrFalse").show();
          break;
      }
    });
  });
</script>
