<style>
    #question-update {
        padding: 20px 30px 25px 0;
    }
</style>
<body>
<div class="layui-fluid" id="question-update">
    <form class="layui-form" action="" lay-filter="question-update-form">
        <div class="layui-form-item">
            <div class="layui-col-lg6">
                <label class="layui-form-label school-form-item-require">分数：</label>
                <div class="layui-input-block">
                    <input
                            type="text"
                            id="score"
                            name="score"
                            lay-verify="number"
                            class="layui-input"
                    />
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-lg12">
                <label class="layui-form-label school-form-item-require">题目：</label>
                <div class="layui-input-block">
                    <textarea name="title" id="title" class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
        <div id="singleChoice">
            <div class="layui-form-item">
                <label class="layui-form-label school-form-item-require">选项A：</label>
                <div class="layui-input-block">
                    <div class="layui-col-lg1">
                        <input type="radio" name="sc" id="scA" value="A" />
                    </div>
                    <div class="layui-col-lg11">
                        <input type="text" id="sctA" class="layui-input" />
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label school-form-item-require">选项B：</label>
                <div class="layui-input-block">
                    <div class="layui-col-lg1">
                        <input type="radio" name="sc" id="scB" value="B" />
                    </div>
                    <div class="layui-col-lg11">
                        <input type="text" id="sctB" class="layui-input" />
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label school-form-item-require">选项C：</label>
                <div class="layui-input-block">
                    <div class="layui-col-lg1">
                        <input type="radio" name="sc" id="scC" value="C" />
                    </div>
                    <div class="layui-col-lg11">
                        <input type="text" id="sctC" class="layui-input" />
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label school-form-item-require">选项D：</label>
                <div class="layui-input-block">
                    <div class="layui-col-lg1">
                        <input type="radio" name="sc" id="scD" value="D" />
                    </div>
                    <div class="layui-col-lg11">
                        <input type="text" id="sctD" class="layui-input" />
                    </div>
                </div>
            </div>

        </div>
        <div id="multipleChoice" style="display: none">
            <div class="layui-form-item">
                <label class="layui-form-label school-form-item-require">选项A：</label>
                <div class="layui-input-block">
                    <div class="layui-col-lg1">
                        <input type="checkbox" name="mc" value="A" lay-skin="primary" />
                    </div>
                    <div class="layui-col-lg11">
                        <input type="text" id="mctA" class="layui-input" />
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label school-form-item-require">选项B：</label>
                <div class="layui-input-block">
                    <div class="layui-col-lg1">
                        <input type="checkbox" name="mc" value="B" lay-skin="primary" />
                    </div>
                    <div class="layui-col-lg11">
                        <input type="text" id="mctB" class="layui-input" />
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label school-form-item-require">选项C：</label>
                <div class="layui-input-block">
                    <div class="layui-col-lg1">
                        <input type="checkbox" name="mc" value="C" lay-skin="primary" />
                    </div>
                    <div class="layui-col-lg11">
                        <input type="text" id="mctC" class="layui-input" />
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label school-form-item-require">选项D：</label>
                <div class="layui-input-block">
                    <div class="layui-col-lg1">
                        <input type="checkbox" name="mc" value="D" lay-skin="primary" />
                    </div>
                    <div class="layui-col-lg11">
                        <input type="text" id="mctD" class="layui-input" />
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label school-form-item-require">选项E：</label>
                <div class="layui-input-block">
                    <div class="layui-col-lg1">
                        <input type="checkbox" name="mc" value="E" lay-skin="primary" />
                    </div>
                    <div class="layui-col-lg11">
                        <input type="text" id="mctE" class="layui-input" />
                    </div>
                </div>
            </div>
        </div>
        <div id="trueOrFalse" style="display: none">
            <div class="layui-form-item">
                <div class="layui-col-lg6">
                    <label class="layui-form-label school-form-item-require"
                    >答案：</label
                    >
                    <div class="layui-input-block">
                        <div class="layui-col-lg4">
                            <label
                            ><input type="radio" name="answer_3" value="1" /><i
                                    class="layui-icon school-blue"
                            >&#xe889;</i
                            ></label
                            >
                        </div>
                        <div class="layui-col-lg4">
                            <label
                            ><input type="radio" name="answer_3" value="0" /><i
                                    class="layui-icon school-red"
                            >&#xe88c;</i
                            ></label
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item school-hide">
            <button
                    class="layui-btn"
                    lay-submit=""
                    lay-filter="question-update-form-submit"
                    id="submit"
            ></button>
        </div>
    </form>
</div>
<script data-th-inline="javascript">
    layui.use(["school", "form", "validate"], function () {
        let $ = layui.$,
            school = layui.school,
            layer = layui.layer,
            form = layui.form,
            question=[[${question}]],
            validate = layui.validate;

        initQuestion();
        form.verify(validate);
        form.render();

        function initQuestion() {
            $("#score").val(question.score);
            $("#title").val(question.title);
            switch (question.type) {
                case "single_choice":
                    $("#singleChoice").show();
                    $("#multipleChoice").hide();
                    $("#trueOrFalse").hide();
                    $("#sctA").val(question.optionA);
                    $("#sctB").val(question.optionB);
                    $("#sctC").val(question.optionC);
                    $("#sctD").val(question.optionD);
                    $("input[name='sc'][value=" + question.answer + "]").prop(
                        "checked",
                        true
                    );
                    break;
                case "multiple_choice":
                    $("#singleChoice").hide();
                    $("#multipleChoice").show();
                    $("#trueOrFalse").hide();

                    $("#mctA").val(question.optionA);
                    $("#mctB").val(question.optionB);
                    $("#mctC").val(question.optionC);
                    $("#mctD").val(question.optionD);
                    $("#mctE").val(question.optionE);
                    var answer = question.answer;
                    answer = answer.split(",");
                    for (var j = 0; j < answer.length; j++) {
                        $("input[name='mc'][value=" + answer[j] + "]").prop(
                            "checked",
                            true
                        );
                    }

                    break;
                case "true_or_false":
                    $("#singleChoice").hide();
                    $("#multipleChoice").hide();
                    $("#trueOrFalse").show();

                    $("input[name='answer_3'][value=" + question.answer + "]").prop(
                        "checked",
                        true
                    );
                    break;
            }
        }

        form.on("submit(question-update-form-submit)", function (data) {
            if (data.field.score == "") {
                school.alert.warn("请填写分数！");
                return false;
            }
            if (data.field.title == "") {
                school.alert.warn("请填写题目！");
                return false;
            }
            var jsonData;
            var answer;
            switch (question.type) {
                case "single_choice":
                    answer = $('input[name="sc"]:checked').val();
                    if (answer == undefined) {
                        school.alert.warn("请选择答案！");
                        return false;
                    }
                    var sctA = $("#sctA").val();
                    var sctB = $("#sctB").val();
                    var sctC = $("#sctC").val();
                    var sctD = $("#sctD").val();
                    jsonData = {
                        id: question.id,
                        title: data.field.title,
                        score: data.field.score,
                        answer: answer,
                        optionA: sctA,
                        optionB: sctB,
                        optionC: sctC,
                        optionD: sctD,
                    };
                    break;
                case "multiple_choice":
                    var arr_box = [];
                    $('input[name="mc"]:checked').each(function () {
                        arr_box.push($(this).val());
                    });

                    if (arr_box.length == 0) {
                        school.alert.warn("请选择答案！");
                        return false;
                    }
                    answer = arr_box.join(",");
                    var mctA = $("#mctA").val();
                    var mctB = $("#mctB").val();
                    var mctC = $("#mctC").val();
                    var mctD = $("#mctD").val();
                    var mctE = $("#mctE").val();
                    jsonData = {
                        id: question.id,
                        title: data.field.title,
                        score: data.field.score,
                        answer: answer,
                        optionA: mctA,
                        optionB: mctB,
                        optionC: mctC,
                        optionD: mctD,
                        optionE: mctE,
                    };
                    break;
                case "true_or_false":
                    answer = $('input[name="answer_3"]:checked').val();
                    if (answer == undefined) {
                        school.alert.warn("请选择答案！");
                        return false;
                    }
                    jsonData = {
                        id: question.id,
                        title: data.field.title,
                        score: data.field.score,
                        answer: answer,
                    };
                    break;
            }
            school.post(ctx + "question/update", jsonData, function () {
                school.alert.success("编辑试题成功");
                layer.close(window.updateIndex);
                window.refreshQuestion();
            });
            return false;
        });
    });
</script>
</body>
