<style>
  #school-question xm-select {
    min-height: 30px;
    line-height: 30px;
  }
  #school-question xm-select > .xm-label .scroll .label-content {
    display: flex;
    padding: 0 30px 0 10px;
  }
</style>
<div
  class="layui-fluid layui-anim school-anim"
  id="school-question"
  lay-title="试题管理"
>
  <div class="layui-row school-container">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-body school-table-full">
          <form
            class="layui-form layui-table-form"
            lay-filter="question-table-form"
          >
            <div class="layui-row">
              <div class="layui-col-md10">
                <div class="layui-form-item">
                  <div class="layui-inline">
                    <label class="layui-form-label layui-form-label-sm"
                      >所属科目</label
                    >
                    <div class="layui-input-inline" id="subjectId"></div>
                  </div>
                </div>
              </div>
              <div
                class="
                  layui-col-md2 layui-col-sm12 layui-col-xs12
                  table-action-area
                "
              >
                <div
                  class="
                    layui-btn layui-btn-sm layui-btn-primary
                    school-button-blue-plain
                    table-action
                  "
                  id="query"
                >
                  <i class="layui-icon">&#xe848;</i>
                </div>
                <div
                  class="
                    layui-btn layui-btn-sm layui-btn-primary
                    school-button-green-plain
                    table-action
                  "
                  id="reset"
                >
                  <i class="layui-icon">&#xe79b;</i>
                </div>
                <div
                  class="
                    layui-btn layui-btn-sm layui-btn-primary
                    table-action
                    action-more
                  "
                  shiro:hasAnyPermissions="question:add,question:upload"
                >
                  <i class="layui-icon">&#xe875;</i>
                </div>
              </div>
            </div>
          </form>
          <table
            lay-filter="questionTable"
            lay-data="{id: 'questionTable'}"
          ></table>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/html" id="question-option">
  <span shiro:lacksPermission="question:view,question:update,question:delete">
    <span class="layui-badge-dot school-bg-orange"></span> 无权限
  </span>
  <a lay-event="detail" shiro:hasPermission="question:view"
    ><i class="layui-icon school-edit-area school-green">&#xe7a5;</i></a
  >
</script>
<script data-th-inline="none" type="text/javascript">
  layui.use(
    ["dropdownMenu", "jquery", "laydate", "form", "table", "school", "xmSelect"],
    function () {
      let $ = layui.jquery,
        laydate = layui.laydate,
        school = layui.school,
        form = layui.form,
        table = layui.table,
        dropdownMenu = layui.dropdownMenu,
        $view = $("#school-question"),
        $query = $view.find("#query"),
        $reset = $view.find("#reset"),
        $searchForm = $view.find("form"),
        sortObject = { field: "createTime", type: null },
        tableIns,
        createTimeFrom,
        createTimeTo,
        subjectXmlSelect;

      form.render();
      var rows;
      initTable();

      laydate.render({
        elem: "#question-createTime",
        range: true,
        trigger: "click",
      });

      dropdownMenu.render({
        elem: $view.find(".action-more"),
        click: function (name, elem, event) {
          let checkStatus = table.checkStatus("questionTable");
          if (name === "add") {
            school.modal.open("新增试题", "question/add", {
              btn: ["提交", "重置"],
              area: $(window).width() <= 750 ? ["80%", "80%"] : ["50%", "80%"],
              yes: function (index, layero) {
                $("#question-add").find("#submit").trigger("click");
              },
              btn2: function () {
                $("#question-add").find("#reset").trigger("click");
                return false;
              },
            });
          }
          if (name === "upload") {
            school.modal.open("上传试题", "question/upload", {
              btn: ["提交", "重置"],
              area: $(window).width() <= 250 ? ["30%", "30%"] : ["50%", "50%"],
              yes: function (index, layero) {
                $("#question-upload").find("#submit").trigger("click");
              },
              btn2: function () {
                $("#question-upload").find("#reset").trigger("click");
                return false;
              },
            });
          }
        },
        options: [
          {
            name: "add",
            title: "新增试题",
            perms: "question:add"
          },{
            name: "upload",
            title: "上传试题",
            perms: "question:upload"
          }]
      });

      subjectXmlSelect = xmSelect.render({
        el: "#subjectId",
        model: { label: { type: "text" } },
        tree: {
          show: true,
          strict: false,
          showLine: false,
          clickCheck: true,
          expandedKeys: [-1],
        },
        name: "subjectId",
        theme: {
          color: "#52c41a",
        },
        prop: {
          value: "id",
        },
        height: "auto",
        on: function (data) {
          if (data.isAdd) {
            return data.change.slice(0, 1);
          }
        },
      });

      school.get(ctx + "subject/select/tree", null, function (data) {
        subjectXmlSelect.update(data);
      });
      var param ="wu";
      table.on("tool(questionTable)", function (obj) {
        //var he = document.body.clientHeight;
        //he = (he -80)+'px';
        let data = obj.data,
          layEvent = obj.event;
        if (layEvent === "detail") {
          if(data.courseId!=null){
            param=data.courseId;
          }
          else {
            param=data.subjectId;
          }
          school.modal.view("试题列表", "question/detail/" + param, {
            area: $(window).width() <= 750 ? ["80%", "80%"] : ["50%", "50%"],
          });
        }
      });

      table.on("sort(questionTable)", function (obj) {
        sortObject = obj;
        tableIns.reload({
          initSort: obj,
          where: $.extend(getQueryParams(), {
            field: obj.field,
            order: obj.type,
          }),
        });
      });

      $query.on("click", function () {
        let params = $.extend(getQueryParams(), {
          field: sortObject.field,
          order: sortObject.type,
        });
        tableIns.reload({ where: params, page: { curr: 1 } });
      });

      $reset.on("click", function () {
        $searchForm[0].reset();
        sortObject.type = "null";
        subjectXmlSelect.setValue([""]);
        createTimeTo = null;
        createTimeFrom = null;
        tableIns.reload({
          where: getQueryParams(true),
          page: { curr: 1 },
          initSort: sortObject,
        });
      });

      function initTable() {

        tableIns = school.table.init({
          elem: $view.find("table"),
          id: "questionTable",
          url: ctx + "question/list",
          cols: [
            [
              { type: "checkbox" },
              { field: "courseId", title: "ID", width: 70 },
              { field: "courseName", title: "课程名称", minWidth: 150 },
              { field: "subjectName", title: "所属科目", minWidth: 100 },
              { field: "description", title: "视频介绍", minWidth: 200 },
              { title: "价格(元)", field: "price", minWidth: 100 },
              {
                field: "createTime",
                title: "创建时间",
                minWidth: 180,
                sort: true,
              },
              { title: "操作", toolbar: "#question-option", minWidth: 40 },
            ],
          ],
        });
      }





      function getQueryParams(flag) {
        subjectId = subjectXmlSelect.getValue("valueStr");
        if (flag) {
          subjectId = "";
        }
        let params = $searchForm.serializeJson();
        params.subject = subjectId;
        let createTime = params.time;
        if (createTime) {
          createTimeFrom = createTime.split(" - ")[0];
          createTimeTo = createTime.split(" - ")[1];
        }
        params.invalidate_ie_cache = new Date();
        params.createTimeFrom = createTimeFrom;
        params.createTimeTo = createTimeTo;
        return params;
      }
    }
  );
</script>
