<style>
    #question-detail {
        padding: 20px 30px 25px 30px;
    }

    #question-info-wrapper {
        margin: 0 0 1rem 0;
        display: inline-block;
    }

    .question-info {
        padding: 0px 15px 10px 15px;
        border: 3px solid #e7e7e7;
        border-radius: 15px;
        margin-bottom: 10px;
    }

    .question-item {
        width: 90%;
        padding: 15px 5px;
    }

    .btn-lg {
        height: 44px;
        line-height: 44px;
        padding: 5px 3px;
        margin-left: 10px;
    }
</style>
<script>
    var hasPermissionUpdate = false;
    var hasPermissionDelete = false;
</script>
<div class="layui-fluid" id="question-detail">
    <div id="question-info-wrapper">
        <shiro:hasPermission name="question:update">
            <script>
                hasPermissionUpdate = true;
            </script>
        </shiro:hasPermission>
        <shiro:hasPermission name="question:delete">
            <script>
                hasPermissionDelete = true;
            </script>
        </shiro:hasPermission>
    </div>
</div>
<script data-th-inline="javascript">
    layui.use(["school", "form", "validate", "upload", "element"], function () {
        let $ = layui.$,
            school = layui.school,
            layer = layui.layer,
            questions = [[${questions}]],
            subjectId=[[${subjectId}]],
            tools = {
                updateQ: function (id) {
                    $("#updateS").val(false);
                    var updateIndex = school.modal.view(
                        "编辑试题",
                        "question/updateS/" + id,
                        {
                            area: $(window).width() <= 750 ? ["80%", "80%"] : ["50%", "80%"],
                            btn: ["提交", "取消"],
                            yes: function (index, layero) {
                                window.updateIndex = index;
                                $("#question-update").find("#submit").trigger("click");
                            },
                            btn2: function () {
                                layer.close(updateIndex);
                            },
                        }
                    );
                },
                deleteQ: function (id) {
                    school.get(ctx + "question/delete/" + id, null, function () {
                        school.alert.success("删除试题成功");
                        school.get(ctx + "question/subList/" + subjectId, null, function (data) {
                            questions = data.data;
                            initQuestion();
                        });
                    });
                },
            };
        window.tools = tools;
        initQuestion();
        window.refreshQuestion = function () {
            school.get(ctx + "question/subList/" + subjectId, null, function (data) {
                questions = data.data;
                initQuestion();
            });
        };
        function initQuestion() {
            $("#question-info-wrapper").empty();
            var i = 1;
            $.each(questions, function (index, item) {
                var str =
                    '<div class="question-info">' +
                    '<table style="width:100%;">' +
                    "<tr>" +
                    '<td class="question-item">' +
                    '<span class="question-num">' +
                    i +
                    "</span>" +
                    ".(" +
                    '<span class="question-type">' +
                    item.typeName +
                    "," +
                    item.score +
                    "分" +
                    "</span>" +
                    ") " +
                    "<span>" +
                    item.title +
                    "</span>" +
                    "</td>" +
                    "<td>" +
                    "<div>";
                if (hasPermissionUpdate == true) {
                    str +=
                        "<a onclick=\"tools.updateQ('" +
                        item.id +
                        "')\" >" +
                        '<i class="layui-icon school-blue btn-lg">&#xe7a4;</i>' +
                        "</a>";
                }
                if (hasPermissionDelete == true) {
                    str +=
                        "<a onclick=\"tools.deleteQ('" +
                        item.id +
                        "')\" >" +
                        '<i class="layui-icon school-red btn-lg">&#xe7f9;</i>' +
                        "</a>";
                }
                switch (item.type) {
                    case "single_choice":
                        str +=
                            "</div>" +
                            "</td>" +
                            "</tr>" +
                            "<tr>" +
                            '<td><label><input type="radio" disabled="true" name="q_' +
                            item.id +
                            '" value="A"';
                        if (item.answer == "A") {
                            str += 'checked=""';
                        }
                        str +=
                            ">A." +
                            item.optionA +
                            "</label></td>" +
                            "</tr>" +
                            "<tr>" +
                            '<td><label><input type="radio" disabled="true" name="q_' +
                            item.id +
                            '" value="B"';
                        if (item.answer == "B") {
                            str += 'checked=""';
                        }
                        str +=
                            ">B." +
                            item.optionB +
                            "</label></td>" +
                            "</tr>" +
                            "<tr>" +
                            '<td><label><input type="radio" disabled="true" name="q_' +
                            item.id +
                            '" value="C"';
                        if (item.answer == "C") {
                            str += 'checked=""';
                        }
                        str +=
                            ">C." +
                            item.optionC +
                            "</label></td>" +
                            "</tr>" +
                            "<tr>" +
                            '<td><label><input type="radio" disabled="true" name="q_' +
                            item.id +
                            '" value="D"';
                        if (item.answer == "D") {
                            str += 'checked=""';
                        }
                        str +=
                            ">D." +
                            item.optionD +
                            "</label></td>" +
                            "</tr>" +
                            "</table>" +
                            "</div>";
                        break;
                    case "multiple_choice":
                        var answer = item.answer;
                        answer = answer.split("");
                        str +=
                            "</div>" +
                            "</td>" +
                            "</tr>" +
                            "<tr>" +
                            '<td><label><input type="checkbox" disabled="true" name="q_' +
                            item.id +
                            '" value="A"';
                        for (var j = 0; j < answer.length; j++) {
                            if (answer[j] == "A") {
                                str += 'checked=""';
                            }
                        }
                        str +=
                            ">A." +
                            item.optionA +
                            "</label></td>" +
                            "</tr>" +
                            "<tr>" +
                            '<td><label><input type="checkbox" disabled="true" name="q_' +
                            item.id +
                            '" value="B"';
                        for (var j = 0; j < answer.length; j++) {
                            if (answer[j] == "B") {
                                str += 'checked=""';
                            }
                        }
                        str +=
                            ">B." +
                            item.optionB +
                            "</label></td>" +
                            "</tr>" +
                            "<tr>" +
                            '<td><label><input type="checkbox" disabled="true" name="q_' +
                            item.id +
                            '" value="C"';
                        for (var j = 0; j < answer.length; j++) {
                            if (answer[j] == "C") {
                                str += 'checked=""';
                            }
                        }
                        str +=
                            ">C." +
                            item.optionC +
                            "</label></td>" +
                            "</tr>" +
                            "<tr>" +
                            '<td><label><input type="checkbox" disabled="true" name="q_' +
                            item.id +
                            '" value="D"';
                        for (var j = 0; j < answer.length; j++) {
                            if (answer[j] == "D") {
                                str += 'checked=""';
                            }
                        }
                        str +=
                            ">D." +
                            item.optionD +
                            "</label></td>" +
                            "</tr>" +
                            "<tr>" +
                            '<td><label><input type="checkbox" disabled="true" name="q_' +
                            item.id +
                            '" value="E"';
                        for (var j = 0; j < answer.length; j++) {
                            if (answer[j] == "E") {
                                str += 'checked=""';
                            }
                        }
                        str +=
                            ">E." +
                            item.optionE +
                            "</label></td>" +
                            "</tr>" +
                            "</table>" +
                            "</div>";
                        break;
                    case "true_or_false":
                        str +=
                            "</div>" +
                            "</td>" +
                            "</tr>" +
                            "<tr>" +
                            '<td><label><input type="radio" disabled="true" name="q_' +
                            item.id +
                            '" value="1"';
                        if (item.answer == "1") {
                            str += 'checked=""';
                        }
                        str +=
                            '><i class="layui-icon school-blue" >&#xe889;</i ></label></td>' +
                            "</tr>" +
                            "<tr>" +
                            '<td><label><input type="radio" disabled="true" name="q_' +
                            item.id +
                            '" value="0"';
                        if (item.answer == "0") {
                            str += 'checked=""';
                        }
                        str +=
                            '><i class="layui-icon school-red" >&#xe88c;</i ></label></td>' +
                            "</tr>" +
                            "</table>" +
                            "</div>";
                        break;
                }

                $("#question-info-wrapper").append(str);
                i++;
            });
        }
    });
</script>
