<style>
  #question-detail {
    padding: 20px 30px 25px 30px;
  }

  #question-info-wrapper {
    margin: 0 0 1rem 0;
    display: inline-block;
  }

  .question-info {
    padding: 0px 15px 10px 15px;
    border: 3px solid #e7e7e7;
    border-radius: 15px;
    margin-bottom: 10px;
  }

  .question-item {
    width: 90%;
    padding: 15px 5px;
  }

  .btn-lg {
    height: 44px;
    line-height: 44px;
    padding: 5px 3px;
    margin-left: 10px;
  }
</style>
<script>
  var hasPermissionUpdate = false;
  var hasPermissionDelete = false;
</script>
<div class="layui-fluid" id="question-detail">
  <div id="question-info-wrapper">
    <shiro:hasPermission name="question:update">
      <script>
        hasPermissionUpdate = true;
      </script>
    </shiro:hasPermission>
    <shiro:hasPermission name="question:delete">
      <script>
        hasPermissionDelete = true;
      </script>
    </shiro:hasPermission>
    <!-- <div class="question-info">
            <table style="width:100%;">
                <tr>
                    <td class="question-item"><span class="question-num">1</span>.(<span
                        class="question-type">单选题</span>) <span>逐渐“飞入寻常百姓家”的人工智能对人类的社会生活产生了巨大影响，对此，
                            技术乐观派认为人工智能为人类发展更新了“发动机”，悲观派则认为人工智能 的发展可能导致“人类的终结“。对人工智能社会效用的评价是(
                            ) </span></td>
                    <td><div>
                            <a lay-event="update" shiro:hasPermission="question:update"><i
                                class="layui-icon school-blue btn-lg">&#xe7a4;</i></a> <a
                                lay-event="del" shiro:hasPermission="question:delete"><i
                                class="layui-icon school-red btn-lg">&#xe7f9;</i></a>
                        </div></td>
                </tr>
                <tr>
                    <td><label><input type="radio" name="q_1" value="A">A.对客观事物发展规律的真理性评价</label>
                    </td>
                </tr>
                <tr>
                    <td><label><input type="radio" name="q_1" value="B">B.对主体需要发展程度的认知性评价</label>
                    </td>
                </tr>
                <tr>
                    <td><label><input type="radio" name="q_1" value="C">C.受主体情感、兴趣和爱好影响的主观性评价</label>
                    </td>
                </tr>
                <tr>
                    <td><label><input type="radio" name="q_1" value="D">D.对客观事物的属性及其满足主体需要的价值性评价</label>
                    </td>
                </tr>
            </table>
        </div>

        <div class="question-info">
            <table>
                <tr>
                    <td class="question-item"><span class="question-num">2</span>.(<span
                        class="question-type">多选题</span>) <span>在相同的劳动时间里，复杂劳动创造的价值大于简单劳动创造的价值。在以
                            私有制为基础的商品经济条件下，复杂劳动转化为简单劳动( )</span></td>
                    <td><div>
                            <a lay-event="update" shiro:hasPermission="question:update"><i
                                class="layui-icon school-blue btn-lg">&#xe7a4;</i></a> <a
                                lay-event="del" shiro:hasPermission="question:delete"><i
                                class="layui-icon school-red btn-lg">&#xe7f9;</i></a>
                        </div></td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="q_2" value="A">A.是商品生产者自觉计算出来的</label>
                    </td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="q_2" value="B">B.是商品交换过程中市场机制自发实现的</label>
                    </td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="q_2" value="C">C.是市场管理部门事先规定的</label>
                    </td>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="q_2" value="D">D.是商品交换过程中市场机制自发实现的
                    </label></td>
                </tr>
            </table>
        </div>
        <div class="question-info">
            <table>
                <tr>
                    <td class="question-item"><span class="question-num">3</span>.(<span
                        class="question-type">判断题</span>) <span>总压100Kpa的某气含A与B两种气体，A的摩尔分数为0.20，则B的分压为80KPa。</span></td>
                    <td><div>
                            <a lay-event="update" shiro:hasPermission="question:update"><i
                                class="layui-icon school-blue btn-lg">&#xe7a4;</i></a> <a
                                lay-event="del" shiro:hasPermission="question:delete"><i
                                class="layui-icon school-red btn-lg">&#xe7f9;</i></a>
                        </div></td>
                </tr>
                <tr>
                    <td><label><input type="radio" name="q_3" value="1"><i
                                class="layui-icon school-blue btn-lg">&#xe889;</i></label>
                    </td>
                </tr>
                <tr>
                    <td><label><input type="radio" name="q_3" value="0"><i
                                class="layui-icon school-red btn-lg">&#xe88c;</i></label>
                    </td>
                </tr>
            </table>
        </div> -->
  </div>
</div>
<script data-th-inline="javascript">
  layui.use(["school", "form", "validate", "upload", "element"], function () {
    let $ = layui.$,
      school = layui.school,
      layer = layui.layer,
      questions = [[${questions}]],
      courseId=[[${courseId}]],
      tools = {
        updateQ: function (id) {
          $("#updateS").val(false);
          var updateIndex = school.modal.view(
            "编辑试题",
            "question/update/" + id,
            {
              area: $(window).width() <= 750 ? ["80%", "80%"] : ["50%", "80%"],
              btn: ["提交", "取消"],
              yes: function (index, layero) {
                window.updateIndex = index;
                $("#question-update").find("#submit").trigger("click");
              },
              btn2: function () {
                layer.close(updateIndex);
              },
            }
          );
        },
        deleteQ: function (id) {
          school.get(ctx + "question/delete/" + id, null, function () {
            school.alert.success("删除试题成功");
            school.get(ctx + "question/list/" + courseId, null, function (data) {
              questions = data.data;
              initQuestion();
            });
          });
        },
      };
    window.tools = tools;
    initQuestion();
    window.refreshQuestion = function () {
      school.get(ctx + "question/list/" + courseId, null, function (data) {
        questions = data.data;
        initQuestion();
      });
    };
    function initQuestion() {
      $("#question-info-wrapper").empty();
      var i = 1;
      $.each(questions, function (index, item) {
        var str =
          '<div class="question-info">' +
          '<table style="width:100%;">' +
          "<tr>" +
          '<td class="question-item">' +
          '<span class="question-num">' +
          i +
          "</span>" +
          ".(" +
          '<span class="question-type">' +
          item.typeName +
          "," +
          item.score +
          "分" +
          "</span>" +
          ") " +
          "<span>" +
          item.title +
          "</span>" +
          "</td>" +
          "<td>" +
          "<div>";
        if (hasPermissionUpdate == true) {
          str +=
            "<a onclick=\"tools.updateQ('" +
            item.id +
            "')\" >" +
            '<i class="layui-icon school-blue btn-lg">&#xe7a4;</i>' +
            "</a>";
        }
        if (hasPermissionDelete == true) {
          str +=
            "<a onclick=\"tools.deleteQ('" +
            item.id +
            "')\" >" +
            '<i class="layui-icon school-red btn-lg">&#xe7f9;</i>' +
            "</a>";
        }
        switch (item.type) {
          case "single_choice":
            str +=
              "</div>" +
              "</td>" +
              "</tr>" +
              "<tr>" +
              '<td><label><input type="radio" disabled="true" name="q_' +
              item.id +
              '" value="A"';
            if (item.answer == "A") {
              str += 'checked=""';
            }
            str +=
              ">A." +
              item.optionA +
              "</label></td>" +
              "</tr>" +
              "<tr>" +
              '<td><label><input type="radio" disabled="true" name="q_' +
              item.id +
              '" value="B"';
            if (item.answer == "B") {
              str += 'checked=""';
            }
            str +=
              ">B." +
              item.optionB +
              "</label></td>" +
              "</tr>" +
              "<tr>" +
              '<td><label><input type="radio" disabled="true" name="q_' +
              item.id +
              '" value="C"';
            if (item.answer == "C") {
              str += 'checked=""';
            }
            str +=
              ">C." +
              item.optionC +
              "</label></td>" +
              "</tr>" +
              "<tr>" +
              '<td><label><input type="radio" disabled="true" name="q_' +
              item.id +
              '" value="D"';
            if (item.answer == "D") {
              str += 'checked=""';
            }
            str +=
              ">D." +
              item.optionD +
              "</label></td>" +
              "</tr>" +
              "</table>" +
              "</div>";
            break;
          case "multiple_choice":
            var answer = item.answer;
            answer = answer.split(",");
            str +=
              "</div>" +
              "</td>" +
              "</tr>" +
              "<tr>" +
              '<td><label><input type="checkbox" disabled="true" name="q_' +
              item.id +
              '" value="A"';
            for (var j = 0; j < answer.length; j++) {
              if (answer[j] == "A") {
                str += 'checked=""';
              }
            }
            str +=
              ">A." +
              item.optionA +
              "</label></td>" +
              "</tr>" +
              "<tr>" +
              '<td><label><input type="checkbox" disabled="true" name="q_' +
              item.id +
              '" value="B"';
            for (var j = 0; j < answer.length; j++) {
              if (answer[j] == "B") {
                str += 'checked=""';
              }
            }
            str +=
              ">B." +
              item.optionB +
              "</label></td>" +
              "</tr>" +
              "<tr>" +
              '<td><label><input type="checkbox" disabled="true" name="q_' +
              item.id +
              '" value="C"';
            for (var j = 0; j < answer.length; j++) {
              if (answer[j] == "C") {
                str += 'checked=""';
              }
            }
            str +=
              ">C." +
              item.optionC +
              "</label></td>" +
              "</tr>" +
              "<tr>" +
              '<td><label><input type="checkbox" disabled="true" name="q_' +
              item.id +
              '" value="D"';
            for (var j = 0; j < answer.length; j++) {
              if (answer[j] == "D") {
                str += 'checked=""';
              }
            }
            str +=
              ">D." +
              item.optionD +
              "</label></td>" +
              "</tr>" +
              "<tr>" +
              '<td><label><input type="checkbox" disabled="true" name="q_' +
               item.id +
               '" value="E"';
            for (var j = 0; j < answer.length; j++) {
              if (answer[j] == "E") {
                str += 'checked=""';
              }
            }
            str +=
              ">E." +
              item.optionE +
            "</label></td>" +
            "</tr>" +
            "</table>" +
              "</div>";
            break;
          case "true_or_false":
            str +=
              "</div>" +
              "</td>" +
              "</tr>" +
              "<tr>" +
              '<td><label><input type="radio" disabled="true" name="q_' +
              item.id +
              '" value="1"';
            if (item.answer == "1") {
              str += 'checked=""';
            }
            str +=
              '><i class="layui-icon school-blue" >&#xe889;</i ></label></td>' +
              "</tr>" +
              "<tr>" +
              '<td><label><input type="radio" disabled="true" name="q_' +
              item.id +
              '" value="0"';
            if (item.answer == "0") {
              str += 'checked=""';
            }
            str +=
              '><i class="layui-icon school-red" >&#xe88c;</i ></label></td>' +
              "</tr>" +
              "</table>" +
              "</div>";
            break;
        }

        $("#question-info-wrapper").append(str);
        i++;
      });
    }
  });
</script>
