<style>
    #course-update {
        padding: 20px 30px 25px 0;
    }
</style>
<div class="layui-fluid" id="course-update">
    <form class="layui-form" action="" lay-filter="course-update-form">
        <div class="layui-form-item school-hide">
            <label class="layui-form-label school-form-item-require">课程id：</label>
            <div class="layui-input-block">
                <input type="text" name="courseId" data-th-value="${course.courseId}">
            </div>
        </div>
        <div class="layui-form-item">
	        <div class="layui-col-lg8">
	            <label class="layui-form-label school-form-item-require">课程名：</label>
	            <div class="layui-input-block">
	                <input type="text" name="courseName" maxlength="30" lay-verify="range" 
	                	autocomplete="off" class="layui-input">
	            </div>
            </div>
            <div class="layui-col-lg4">
                <label class="layui-form-label school-form-item-require">价格：</label>
                <div class="layui-input-block">
                    <input type="text" name="price" maxlength="30" lay-verify="range|number" 
                        autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space10 layui-form-item">
	        <div class="layui-col-lg6">
	            <label class="layui-form-label">科目：</label>
	            <div class="layui-input-block" id="course-update-subject"></div>
	        </div>
	        <div class="layui-col-lg6">
	            <label class="layui-form-label school-form-item-require">状态：</label>
	            <div class="layui-input-block">
	                <input type="radio" name="status" value="1" title="有效">
	                <input type="radio" name="status" value="0" title="禁用">
	            </div>
	        </div>
	    </div>
	    <div class="layui-form-item">
	        <label class="layui-form-label">课程视频：</label>
	        <button type="button" class="layui-btn cover" id="control_video_button">上传视频</button>
	        <button type="button" class="layui-btn layui-btn-danger cover" id="control_video_del" style="display:{$detail.videourl ? 'inline' : 'none'}">删除视频</button>
	        <input type="hidden" id="videosize" value="{$detail.videosize}" name="videosize" />
			<input type="hidden" id="duration" value="{$detail.duration}" name="duration" />
	        <input type="hidden" id="videourl" value="{$detail.videourl}" name="videourl" />
	    </div>
	    
	    <div class="layui-form-item">
	        <label class="layui-form-label"></label>
	        <div class="layui-input-block">
	            <video src="{$detail.videourl}" controls="controls" id="control_video_demo" style="width: 100%;display: {$detail.videourl ? 'block' : 'none'}">
	                您的浏览器不支持 video 标签。
	            </video>
	            <p id="demoText"></p>
	        </div>
	    </div>
	    <div class="layui-form-item">
	    	<label class="layui-form-label">上传进度：</label>
	    	<div class="layui-input-block">
				<div class="layui-progress layui-progress-big" lay-showPercent="yes" lay-filter="demo">
		        	<div class="layui-progress-bar layui-bg-green" lay-percent="0%"></div>
		        </div>
		    </div>
	    </div>
	    <div class="layui-form-item">
			<label class="layui-form-label ">缩略图:</label>
			<input type="hidden" name="thumbnail" id="thumbnail" class="image">
			<div class="layui-upload">
				<button type="button" class="layui-btn" id="test1">上传图片</button>
			</div>
		</div>
		<div class="layui-form-item">
	        <label class="layui-form-label"></label>
			<div class="layui-upload-list">
				<img class="layui-upload-img" style="height: 150px" id="thumbnailimg">
				<p id="demoText"></p>
			</div>
		</div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述：</label>
            <div class="layui-input-block">
                <textarea name="description" maxlength="100" class="layui-textarea">
                </textarea>
            </div>
        </div>
        <div class="layui-form-item school-hide">
            <button class="layui-btn" lay-submit="" lay-filter="course-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['school', 'form', 'xmSelect', 'validate', 'upload', 'element'], function () {
        let $ = layui.$,
            school = layui.school,
            layer = layui.layer,
            form = layui.form,
            xmSelect = layui.xmSelect,
            course = [[${course}]],
            validate = layui.validate,
            upload = layui.upload,
            element = layui.element,
            subjectXmlSelect;

        form.verify(validate);
        form.render();

        initCourseValue();
        element.render('progress');
        
        subjectXmlSelect = xmSelect.render({
            el: '#course-update-subject',
            model: {label: {type: 'text'}},
            tree: {
                show: true,
                strict: false,
                showLine: false,
                clickCheck: true,
                expandedKeys: [-1],
            },
            name: 'subject',
            theme: {
                color: '#52c41a',
            },
            prop: {
                value: 'id'
            },
            height: 'auto',
            on: function (data) {
                if (data.isAdd) {
                    return data.change.slice(0, 1)
                }
            }
        });

        school.get(ctx + 'subject/select/tree', null, function (data) {
        	subjectXmlSelect.update(data)
            course.subject && subjectXmlSelect.setValue([course.subject]);
        });

        function initCourseValue() {
            form.val("course-update-form", {
                "courseName": course.courseName,
                "mobile": course.mobile,
                "status": course.status,
                "description": course.description,
                "videourl": course.videourl,
                "videosize": course.videosize,
				"duration": course.duration,
                "thumbnail": course.thumbnail,
                "price": course.price
            });
            $('#control_video_demo').attr('src', $("#videourl").val());
            $('#thumbnailimg').attr('src', $("#thumbnail").val());
        }

        form.on('submit(course-update-form-submit)', function (data) {
            if (school.nativeEqual(data.field, course)) {
                school.alert.warn('数据未作任何修改！');
                return false;
            }
            school.post(ctx + 'course/update', data.field, function () {
                layer.closeAll();
                school.alert.success(course.courseName + ' 课程数据修改成功');
                $('#school-course').find('#query').click();
            });
            return false;
        });
        
        var xhrOnProgress = function (fun) {
            xhrOnProgress.onprogress = fun; //绑定监听
            //使用闭包实现监听绑
            return function () {
                //通过$.ajaxSettings.xhr();获得XMLHttpRequest对象
                var xhr = $.ajaxSettings.xhr();
                //判断监听函数是否为函数
                if (typeof xhrOnProgress.onprogress !== 'function')
                    return xhr;
                //如果有监听函数并且xhr对象支持绑定时就把监听函数绑定上去
                if (xhrOnProgress.onprogress && xhr.upload) {
                    xhr.upload.onprogress = xhrOnProgress.onprogress;
                }
                return xhr;
            }
        }
        
        var uploadInst = upload.render({
            elem: '#control_video_button', //绑定元素
            url: ctx + 'course/upload',
            accept: 'video', 
            bindAction: '#upload', //选完文件后不自动上传
            xhr:xhrOnProgress,
            before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#control_video_demo').attr('src', result); //图片链接（base64）
                    $('#control_video_demo').css('display', 'block');
                    $('#control_video_del').css('display', 'inline');
                });
            },
            progress:function(value){//上传进度回调 value进度值
                element.progress('demo', value+'%');//设置页面进度条
            },
            done: function (res) {
                if (res.code != 200) {
                    return school.alert.success('上传失败');
                }
                //上传成功
                $('#videosize').val(res.data.filesize);
				$('#duration').val(res.data.duration);
                $('#videourl').val(res.data.filepath);
            }, error: function (res) {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });

        $('#control_video_del').click(function () {
        	$('#control_video_demo').attr('src', "");
            //$('#control_video_del').css('display', 'none');
            $('#videosize').val('');
			$('#duration').val('');
            $('#videourl').val('');
            element.progress('demo', '0%');
        })
        
        var uploadImage = upload.render({
			elem: '#test1'
			, url: ctx + 'course/upload'
			, accept: 'images'
			, size: 50000
			, before: function (obj) {
				obj.preview(function (index, file, result) {
					$('#thumbnailimg').attr('src', result);
				});
			}
			, done: function (res) {
				//如果上传失败
				if (res.code != 200) {
					return school.alert.error('上传失败');
				}
				//上传成功
				var demoText = $('#demoText2');
				demoText.html('<span style="color: #4cae4c;">上传成功</span>');
				$('#thumbnail').val(res.data.filepath);
			}
			, error: function () {
				//演示失败状态，并实现重传
				var demoText = $('#demoText2');
				demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
				demoText.find('.demo-reload').on('click', function () {
					uploadImage.upload();
				});
			}
		});
    });
</script>