<style>
    #course-detail {
        padding: 20px 30px 25px 0;
    }
	.txttype{
		display: none;
	}
</style>
<div class="layui-fluid" id="course-detail">
    <form class="layui-form" action="" lay-filter="course-detail-form">
        <div class="layui-form-item school-hide">
            <label class="layui-form-label">课程id：</label>
            <div class="layui-input-block">
                <input type="text" name="courseId" data-th-value="${course.courseId}" readonly="readonly">
            </div>
        </div>
        <div class="layui-form-item">
	        <div class="layui-col-lg8">
	            <label class="layui-form-label">课程名：</label>
	            <div class="layui-input-block">
	                <input type="text" name="courseName" class="layui-input" readonly="readonly">
	            </div>
            </div>
            <div class="layui-col-lg4">
                <label class="layui-form-label">价格：</label>
                <div class="layui-input-block">
                    <input type="text" name="price" class="layui-input" readonly="readonly">
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space10 layui-form-item">
	        <div class="layui-col-lg6">
	            <label class="layui-form-label">科目：</label>
	            <div class="layui-input-block">
	                <input type="text" name="subject" class="layui-input" readonly="readonly">
	            </div>
	        </div>
	        <div class="layui-col-lg6">
	            <label class="layui-form-label">状态：</label>
	            <div class="layui-input-block">
	                <input type="text" name="status" class="layui-input" readonly="readonly">
	            </div>
	        </div>
	    </div>

	    <div class="layui-form-item videtype">
	    	<div class="layui-col-lg6">
	            <label class="layui-form-label">视频路径：</label>
	            <div class="layui-input-block">
	                <input type="text" name="videourl" id="videourl" class="layui-input" readonly="readonly">
	            </div>
	        </div>
	        <div class="layui-col-lg6">
	            <label class="layui-form-label">视频大小：</label>
	            <div class="layui-input-block">
	                <input type="text" name="videosize" class="layui-input" readonly="readonly">
	            </div>
	        </div>
	    </div>
	    <div class="layui-form-item videtype">
	    	<label class="layui-form-label">视频预览：</label>
	        <label class="layui-form-label"></label>
	        <div class="layui-input-block">
	            <video src="" controls="controls" id="control_video_demo" style="width: 100%;">
	                您的浏览器不支持 video 标签。
	            </video>
	            <p id="demoText"></p>
	        </div>
	    </div>
	    <div class="layui-form-item videtype">
	    	<label class="layui-form-label">缩略图：</label>
	    	<div class="layui-input-block">
	    		<img id="thumbnail" name="thumbnail" style="height:150px" src="">
	    	</div>
	    </div>
        <div class="layui-form-item videtype layui-form-text">
            <label class="layui-form-label">描述：</label>
            <div class="layui-input-block">
                <textarea name="description" maxlength="100" class="layui-textarea" readonly="readonly"></textarea>
            </div>
        </div>

		<div class="layui-form-item txttype">
			<label class="layui-form-label">文章内容：</label>
			<div class="layui-input-block">
				<textarea name="aryiclecontent" id="article"></textarea>
			</div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['school', 'form', 'xmSelect', 'validate', 'upload', 'element','layedit'], function () {
        let $ = layui.$,
            school = layui.school,
            layer = layui.layer,
            form = layui.form,
            xmSelect = layui.xmSelect,
            course = [[${course}]],
			layedit=layui.layedit


		form.render();
        initCourseValue();
		layedit.build('article');



		if (course.isarticle==="1"){
			$(".videtype").hide();
			$(".txttype").show();
		}


        function initCourseValue() {
            form.val("course-detail-form", {
                "courseName": course.courseName,
                "status": course.status == 1 ? "有效" : "无效",
                "description": course.description,
                "videourl": course.videourl,
                "videosize": course.videoSizeHuman,
                "thumbnail": course.thumbnail,
                "subject": course.subjectName,
                "price": course.price,
				"aryiclecontent":course.aryiclecontent
            });
            $('#control_video_demo').attr('src', $("#videourl").val());
            $('#thumbnail').attr('src', $("#thumbnail").val());
        }
    });
</script>