<style>
    #school-course xm-select {
        min-height: 30px;
        line-height: 30px;
    }
    #school-course xm-select > .xm-label .scroll .label-content {
        display: flex;
        padding: 0 30px 0 10px;
    }
</style>
<div class="layui-fluid layui-anim school-anim" id="school-course" lay-title="课程内容管理">
    <div class="layui-row school-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body school-table-full">
                    <form class="layui-form layui-table-form" lay-filter="course-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">内容名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="courseName" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">所属科目</label>
                                        <div class="layui-input-inline" id="subject">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">创建时间</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="time" id="course-createTime" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">状态</label>
                                        <div class="layui-input-inline">
                                            <select name="status">
                                                <option value=""></option>
                                                <option value="0">禁用</option>
                                                <option value="1">有效</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary school-button-blue-plain table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary school-button-green-plain table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                     shiro:hasAnyPermissions="course:add,course:update,course:export">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="courseTable" lay-data="{id: 'courseTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="course-status">
    {{#
    let status = {
    1: {title: '有效', color: 'green'},
    0: {title: '禁用', color: 'volcano'}
    }[d.status];
    }}
    <span class="layui-badge school-bg-{{status.color}}">{{ status.title }}</span>
</script>

<script type="text/html" id="course-option">
    <span shiro:lacksPermission="course:view,course:update,course:delete">
        <span class="layui-badge-dot school-bg-orange"></span> 无权限
    </span>
    <a lay-event="detail" shiro:hasPermission="course:view"><i
            class="layui-icon school-edit-area school-green">&#xe7a5;</i></a>
    <a lay-event="edit" shiro:hasPermission="course:update"><i
            class="layui-icon school-edit-area school-blue">&#xe7a7;</i></a>
    <a lay-event="del" shiro:hasPermission="course:delete"><i class="layui-icon school-edit-area school-red">&#xe7f9;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdownMenu', 'jquery', 'laydate', 'form', 'table', 'school', 'xmSelect'], function () {
        let $ = layui.jquery,
            laydate = layui.laydate,
            school = layui.school,
            form = layui.form,
            table = layui.table,
            dropdownMenu = layui.dropdownMenu,
            $view = $('#school-course'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns,
            createTimeFrom,
            createTimeTo,
            subjectXmlSelect;

        form.render();

        initTable();

        laydate.render({
            elem: '#course-createTime',
            range: true,
            trigger: 'click'
        });

        dropdownMenu.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                let checkStatus = table.checkStatus('courseTable');
                if (name === 'add') {
                    school.modal.open('新增课程内容', 'course/add', {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? ['80%', '80%'] : ['50%', '80%'],
                        yes: function (index, layero) {
                            $('#course-add').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#course-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        school.alert.warn('请选择需要删除的课程内容');
                    } else {
                        school.modal.confirm('删除课程内容', '确定删除该课程内容？', function () {
                            let courseIds = [];
                            layui.each(checkStatus.data, function (key, item) {
                                courseIds.push(item.courseId)
                            });
                            deleteCourses(courseIds.join(','));
                        });
                    }
                }
                if (name === 'export') {
                    let params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
                    params.pageSize = $view.find(".layui-laypage-limits option:selected").val();
                    params.pageNum = $view.find(".layui-laypage-em").next().html();
                    school.download(ctx + 'course/excel', params, '课程内容信息表.xlsx');
                }
            },
            options: [{
                name: 'add',
                title: '新增课程内容',
                perms: 'course:add'
            }, {
                name: 'delete',
                title: '删除课程内容',
                perms: 'course:delete'
            }, {
                name: 'export',
                title: '导出Excel',
                perms: 'course:export'
            }]
        });

        subjectXmlSelect = xmSelect.render({
            el: '#subject',
            model: {label: {type: 'text'}},
            tree: {
                show: true,
                strict: false,
                showLine: false,
                clickCheck: true,
                expandedKeys: [-1],
            },
            name: 'subjectId',
            theme: {
                color: '#52c41a',
            },
            prop: {
                value: 'id'
            },
            height: 'auto',
            on: function(data){
                if(data.isAdd){
                    return data.change.slice(0, 1)
                }
            }
        });

        school.get(ctx + 'subject/select/tree', null, function (data) {
        	subjectXmlSelect.update(
                data
            )
        });

        table.on('tool(courseTable)', function (obj) {
        	//var he = document.body.clientHeight;
        	//he = (he -80)+'px';
            let data = obj.data,
            layEvent = obj.event;
            if (layEvent === 'detail') {
                school.modal.view('课程信息', 'course/detail/' + data.courseId, {
                	area: $(window).width() <= 750 ? ['80%', '80%'] : ['50%', '80%'],
                });
            }
            if (layEvent === 'del') {
                school.modal.confirm('删除课程', '确定删除该课程？', function () {
                    deleteCourses(data.courseId);
                });
            }
            if (layEvent === 'edit') {
                school.modal.open('修改课程', 'course/update/' + data.courseId, {
                	area: $(window).width() <= 750 ? ['80%', '80%'] : ['50%', '80%'],
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#course-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
        });

        table.on("sort(courseTable)", function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            let params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            sortObject.type = 'null';
            subjectXmlSelect.setValue(['']);
            createTimeTo = null;
            createTimeFrom = null;
            tableIns.reload({where: getQueryParams(true), page: {curr: 1}, initSort: sortObject});
        });

        function initTable() {
            tableIns = school.table.init({
                elem: $view.find('table'),
                id: 'courseTable',
                url: ctx + 'course/list',
                cols: [[
                    {type: 'checkbox'},
                    {field: 'courseId', title: 'ID', width: 70},
                    {field: 'courseName', title: '内容名称', minWidth: 100},
                    {field: 'subjectName',title: '所属科目'},
                    {field: 'description', title: '内容介绍', minWidth: 200},
                    {field: 'videourl', title: '内容地址', minWidth: 250},
                    //{field: 'videoSizeHuman', title: '大小', minWidth: 50},
                    {field: 'thumbnail',title: '缩略图', minWidth: 200},
                    {title: '价格(元)', field:'price'},
                    {title: '状态', templet: '#course-status'},
                    {field: 'createTime', title: '创建时间', minWidth: 180, sort: true},
                    {title: '操作', toolbar: '#course-option', minWidth: 140}
                ]]
            });
        }

        function getQueryParams(flag) {
        	subjectId = subjectXmlSelect.getValue('valueStr');
            if (flag) {
            	subjectId = '';
            }
            let params = $searchForm.serializeJson();
            params.subject = subjectId;
            let createTime = params.time;
            if (createTime) {
                createTimeFrom = createTime.split(' - ')[0];
                createTimeTo = createTime.split(' - ')[1];
            }
            params.invalidate_ie_cache = new Date();
            params.createTimeFrom = createTimeFrom;
            params.createTimeTo = createTimeTo;
            return params;
        }

        function deleteCourses(courseIds) {
            school.get(ctx + 'course/delete/' + courseIds, null, function () {
                school.alert.success('删除课程成功');
                $query.click();
            });
        }
    })
</script>