<style>
    #classes-update {
        padding: 20px 30px 25px 0;
    }
</style>
<div class="layui-fluid" id="classes-update">
    <form class="layui-form" action="" lay-filter="classes-update-form">

        <div class="layui-form-item">
            <div class="layui-col-lg8">
                <label class="layui-form-label school-form-item-require">班级名称：</label>
                <div class="layui-input-block">
                    <input type="text" name="classesName" maxlength="30" lay-verify="range"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space10 layui-form-item">
            <div class="layui-col-lg6">
                <label class="layui-form-label">科目：</label>
                <div class="layui-input-block" id="classes-update-subject"></div>
            </div>

        </div>
        <div class="layui-form-item">
            <div class="layui-col-lg6">
                <label class="layui-form-label school-form-item-require">状态：</label>
                <div class="layui-input-block">
                    <input type="radio" name="status" value="1" title="有效">
                    <input type="radio" name="status" value="0" title="禁用">
                </div>
            </div>
        </div>

        <div class="layui-form-item school-hide">
            <button class="layui-btn" lay-submit="" lay-filter="classes-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['school', 'form', 'xmSelect', 'validate', 'upload', 'element'], function () {
        let $ = layui.$,
            school = layui.school,
            layer = layui.layer,
            form = layui.form,
            xmSelect = layui.xmSelect,
            classes = [[${classes}]],
            validate = layui.validate,
            element = layui.element,
            subjectXmlSelect;

        form.verify(validate);
        form.render();

        initClassesValue();
        element.render('progress');

        subjectXmlSelect = xmSelect.render({
            el: '#classes-update-subject',
            model: {label: {type: 'text'}},
            tree: {
                show: true,
                strict: false,
                showLine: false,
                clickCheck: true,
                expandedKeys: [-1],
            },
            name: 'subject',
            theme: {
                color: '#52c41a',
            },
            prop: {
                value: 'id'
            },
            height: 'auto',
            on: function (data) {
                if (data.isAdd) {
                    return data.change.slice(0, 1)
                }
            }
        });

        school.get(ctx + 'subject/select/tree', null, function (data) {
            subjectXmlSelect.update(data)
            classes.subject_ID && subjectXmlSelect.setValue([classes.subject_ID]);
        });

        function initClassesValue() {
            form.val("classes-update-form", {
                "classesName": classes.name,
                "status": classes.public

            });

        }

        form.on('submit(classes-update-form-submit)', function (data) {
            let json={};
            json.NAME=data.field.classesName;
            json.SUBJECT_ID=data.field.subject;
            json.PUBLIC=data.field.status;
            if (data.field.classesName==classes.name&&data.field.status==classes.public&&data.field.subject==classes.subject_ID) {
                school.alert.warn('数据未作任何修改！');
                return false;
            }
            json.CLASS_ID=classes.class_ID;

            school.post(ctx + 'class/update', json, function () {
                layer.closeAll();
                school.alert.success(classes.name + ' 课程数据修改成功');
                $('#school-class').find('#query').click();
            });
            return false;
        });



    });
</script>