
<style>
    #school-class xm-select {
        min-height: 30px;
        line-height: 30px;
    }
    #school-class xm-select > .xm-label .scroll .label-content {
        display: flex;
        padding: 0 30px 0 10px;
    }
</style>
<div class="layui-fluid layui-anim school-anim" id="school-class"
lay-title="班级管理">
    <div class="layui-row school-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body school-table-full">
                    <form class="layui-form layui-table-form" lay-filter="user-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">班级名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="NAME" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">所属专业</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="TITLE" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">人数</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="SUM" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>

                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">状态</label>
                                        <div class="layui-input-inline">
                                            <select name="PUBLIC">
                                                <option value=""></option>
                                                <option value="0">禁用</option>
                                                <option value="1">有效</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary school-button-blue-plain table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary school-button-green-plain table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                     shiro:hasAnyPermissions="user:add,user:update,user:password:reset,user:export,user:import,user:generateCertificate,user:certification">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="classTable" lay-data="{id: 'classTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="class-status">
    {{#
    let PUBLIC = {
    1: {title: '有效', color: 'green'},
    0: {title: '禁用', color: 'volcano'}
    }[d.public];
    }}
    <span class="layui-badge school-bg-{{PUBLIC.color}}">{{ PUBLIC.title}}</span>
</script>

<script type="text/html" id="class-option">

    <a lay-event="detail"  title="人员详情"><i
            class="layui-icon school-edit-area school-green">&#xe7a5;</i></a>
    <a lay-event="edit"  title="编辑"><i
            class="layui-icon school-edit-area school-blue">&#xe7a4;</i></a>

    <a lay-event="del"  title="删除">
        <i class="layui-icon school-edit-area school-red">&#xe7f9;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdownMenu', 'jquery', 'laydate', 'form', 'table', 'school'], function () {
        let $ = layui.jquery,
            laydate = layui.laydate,
            school = layui.school,
            form = layui.form,
            table = layui.table,
            dropdownMenu = layui.dropdownMenu,
            $view = $('#school-class'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns,
            createTimeFrom,
            createTimeTo;

        form.render();

        initTable();

        laydate.render({
            elem: '#user-createTime',
            range: true,
            trigger: 'click'
        });

        dropdownMenu.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                let checkStatus = table.checkStatus('classTable');
                if (name === 'add') {
                    school.modal.open('新增班级', '/classManagement/classAdd', {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#user-add').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#user-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        school.alert.warn('请选择需要删除的班级');
                    } else {
                        school.modal.confirm('删除班级', '确定删除该班级？', function () {
                            let classIds = [];
                            layui.each(checkStatus.data, function (key, item) {
                                classIds.push(item.class_ID)
                            });
                            deleteUsers(classIds.join(','));
                        });
                    }
                }

            },
            options: [{
                name: 'add',
                title: '新增班级',
                perms: 'user:add'
            }, {
                name: 'delete',
                title: '删除班级',
                perms: 'user:delete'
            }
            ]
        });

        table.on('tool(classTable)', function (obj) {
            let data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'detail') {
                school.modal.view('学生信息', '/classManagement/studyFollow/' + data.name, {
                    area: $(window).width() <= 1300 ? '95%' : '1200px'
                });
            }
            if (layEvent === 'del') {
                school.modal.confirm('删除用户', '确定删除该用户？', function () {
                    deleteUsers(data.class_ID);
                });
            }
            if (layEvent === 'edit') {
                school.modal.open('修改用户', 'classManagement/classUpdate/' +data.class_ID, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#classes-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }

        });

        table.on('sort(classTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            let params = $.extend(getQueryParams(), {});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            sortObject.type = 'null';
            createTimeTo = null;
            createTimeFrom = null;
            tableIns.reload({where: getQueryParams(true), page: {curr: 1}, initSort: sortObject});
        });

        function initTable() {
            tableIns = school.table.init({
                elem: $view.find('table'),
                id: 'classTable',
                url: ctx + 'class/list',
                where: {
                    isUser: 1
                },
                cols: [[
                    {type: 'checkbox'},
                    {field: 'class_ID', title: '编号',minWidth: 50},
                    {field: 'name', title: '班级名', minWidth: 100},
                    {field: 'major_NAME', title: '所属专业', minWidth: 100},
                    {field: 'public', title: '状态',templet: '#class-status', minWidth: 165},
                    {field: 'sum', title: '班级人数', minWidth: 165},
                    {title: '操作', toolbar: '#class-option', minWidth: 200}
                ]]
            });
        }

        function getQueryParams() {

            let params = $searchForm.serializeJson();
            if (params.PUBLIC!==""){
                params.PUBLIC=params.PUBLIC-0;
            }else{
                params.PUBLIC=null;
            }


            return params;
        }

        function deleteUsers(classIds) {

            school.get(ctx + 'class/delete/' + classIds, null, function () {
                school.alert.success('删除用户成功');
                $query.click();
            });
        }


    })
</script>