<style>
    #user-add {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="user-add">
    <form class="layui-form" action="" lay-filter="user-add-form">

        <div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">班级名称：</label>
            <div class="layui-input-block">
                <input type="text" name="classesName" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">专业名称：</label>
            <div class="layui-input-block" id="class-add-subject"></div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label school-form-item-require">状态：</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="1" title="有效" checked="">
                <input type="radio" name="status" value="0" title="禁用">
            </div>
        </div>
        <div class="layui-form-item school-hide">
            <button class="layui-btn" lay-submit="" lay-filter="class-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script>
    layui.use(['school', 'form', 'validate','xmSelect'], function () {
        let $ = layui.$,
            school = layui.school,
            layer = layui.layer,
            form = layui.form,
            xmSelect = layui.xmSelect,
            validate = layui.validate,
            subjectXmlSelect;

        form.verify(validate);
        form.render();
        subjectXmlSelect = xmSelect.render({
            el: '#class-add-subject',
            model: {label: {type: 'text'}},
            tree: {
                show: true,
                strict: false,
                showLine: false,
                clickCheck: true,
                expandedKeys: [-1],
            },
            name: 'subjectId',
            theme: {
                color: '#52c41a',
            },
            prop: {
                value: 'id'
            },
            height: 'auto',
            on: function (data) {
                if (data.isAdd) {
                    return data.change.slice(0, 1)
                }
            }
        });

        school.get(ctx + 'subject/select/tree', null, function (data) {
            subjectXmlSelect.update(data)
        });



        form.on('submit(class-add-form-submit)', function (data) {
            console.log(data)
            if(data.field.subjectId==""){
                school.alert.warn('请选择专业！');
                return false;
            }
            if(data.field.classesName==""){
                school.alert.warn('请输入班级名称！');
                return false;
            }
            let json={};
            json.NAME=data.field.classesName;
            json.SUBJECT_ID=data.field.subjectId;
            json.PUBLIC=data.field.status;

            school.post("/class/add", json, function () {
                layer.closeAll();
                school.alert.success('新增班级成功');
                $('#school-class').find('#query').click();
            });
            return false;
        });
    });
</script>