<style>
    #exam-record {
        min-width: 1200px;
        min-height: 600px;
    }
</style>

<div class="layui-fluid layui-anim school-anim" id="exam-record">
    <div class="layui-row school-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body school-table-full">
                    <form class="layui-form layui-table-form" lay-filter="classes-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                            </div>
                        </div>
                    </form>
                    <table lay-filter="examTable" lay-data="{id: 'examTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script data-th-inline="javascript">
    layui.use(['dropdownMenu', 'jquery', 'laydate', 'form', 'table', 'school'], function () {
        let $ = layui.jquery,
            school = layui.school,
            form = layui.form,
            $view = $('#exam-record'),
            userId = [[${userId}]],
            tableIns

        form.render();
        initStudy();

        function initStudy() {
            tableIns = school.table.init({
                elem: $view.find('table'),
                id: 'examTable',
                url: ctx + 'class/findExam/' + userId,
                cols: [
                    [
                        {field: 'title', title: '科目名称', minWidth: 30},
                        {field: 'courseName', title: '课程名称', minWidth: 40},
                        {field: 'createTime', title: '考试时间', minWidth: 100},
                        {field: 'score', title: '得分', minWidth: 10},
                    ]
                ]
            });
        }
    })


</script>