<style>
    #study-follow {
        min-width: 1200px;
        min-height: 700px;
    }
</style>

<div class="layui-fluid layui-anim school-anim" id="study-follow">
    <div class="layui-row school-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body school-table-full">
                    <form class="layui-form layui-table-form" lay-filter="classes-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">姓名</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="username" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">手机号</label>
                                        <div class="layui-input-inline" id="mobile">
                                            <input type="text" name="mobile" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">身份证号</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="idcard" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary school-button-blue-plain table-action"
                                     id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary school-button-green-plain table-action"
                                     id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="studentsTable" lay-data="{id: 'studentsTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="students-option">
    <a lay-event="studyRecord"  title="学习记录"><i
            class="layui-icon school-edit-area school-green">&#xe826;</i></a>
    <a lay-event="examRecord"  title="考试记录"><i
            class="layui-icon school-edit-area school-red">&#xe83f;</i></a>
</script>
<script data-th-inline="javascript">
    layui.use(['dropdownMenu', 'jquery', 'laydate', 'form', 'table', 'school'], function () {
        let $ = layui.jquery,
            laydate = layui.laydate,
            school = layui.school,
            form = layui.form,
            table = layui.table,
            $view = $('#study-follow'),
            classesName = [[${classesName}]],
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns,
            createTimeFrom,
            createTimeTo;
        form.render();

        initStudents();

        $query.on('click', function () {
            let params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            sortObject.type = 'null';
            subjectXmlSelect.setValue(['']);
            createTimeTo = null;
            createTimeFrom = null;
            tableIns.reload({where: getQueryParams(true), page: {curr: 1}, initSort: sortObject});
        });

        table.on('sort(classesTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        table.on('tool(studentsTable)', function (obj) {
            let data = obj.data,
                layEvent = obj.event;
            var he = document.body.clientHeight;
            he = (he -80)+'px';
            if (layEvent === 'studyRecord') {
                school.modal.view('学习记录', '/classManagement/studyRecord/' + data.userId, {
                    area: ['1200px', '600px'],
                    maxmin: true
                });
            }
            if (layEvent === 'examRecord') {
                school.modal.view('考试记录', '/classManagement/examRecord/' + data.userId, {
                    area: $(window).width() <= 1300 ? '95%' : '1200px'
                });
            }
        });


        laydate.render({
            elem: '#classes-createTime',
            range: true,
            trigger: 'click'
        });

        function initStudents() {

            tableIns = school.table.init({
                elem: $view.find('table'),
                id: 'studentsTable',
                url: ctx + 'class/findStudents/'+ classesName ,
                cols: [
                    [
                        {field: 'userId', title: '编号', minWidth: 50},
                        {field: 'username', title: '姓名', minWidth: 100},
                        {field: 'mobile', title: '手机号', minWidth: 165},
                        {field: 'idcard', title: '身份证号', minWidth: 170},
                        {title: '操作', toolbar: '#students-option', minWidth: 200}
                    ]
                ]
            });
        }

        function getQueryParams(flag) {
            let params = $searchForm.serializeJson();
            let createTime = params.time;
            if (createTime) {
                createTimeFrom = createTime.split(' - ')[0];
                createTimeTo = createTime.split(' - ')[1];
            }
            params.invalidate_ie_cache = new Date();
            params.createTimeFrom = createTimeFrom;
            params.createTimeTo = createTimeTo;
            return params;
        }

    })
</script>