<style>
    #study-record {
        min-width: 1200px;
        height: 500px;
    }
</style>

<div class="layui-fluid layui-anim school-anim" id="study-record">
    <div class="layui-row school-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body school-table-full">
                    <form class="layui-form layui-table-form" lay-filter="classes-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                            </div>
                        </div>
                    </form>
                    <table lay-filter="studyTable" lay-data="{id: 'studyTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script data-th-inline="javascript">
    layui.use(['dropdownMenu', 'jquery', 'laydate', 'form', 'table', 'school'], function () {
        let $ = layui.jquery,
            school = layui.school,
            form = layui.form,
            $view = $('#study-record'),
            userId = [[${userId}]],
            tableIns
        form.render();
        initStudy();

        function initStudy() {
            tableIns = school.table.init({
                elem: $view.find('table'),
                id: 'studyTable',
                url: ctx + 'class/findStudy/' + userId,
                cols: [
                    [
                        {field: 'subjectName', title: '科目名称', minWidth: 30},
                        {field: 'courseName', title: '课程名称', minWidth: 40},
                        {field: 'createTime', title: '首次学习时间', minWidth: 100},
                        {field: 'courseDuration', title: '课程时长', minWidth: 100},
                        {field: 'playTime', title: '学习时长', minWidth: 100},
                        {field: 'percent', title: '学习进度', minWidth: 100}
                    ]
                ]

            });
        }
    })
</script>
