<style>
    #school-backups xm-select {
        min-height: 30px;
        line-height: 30px;
    }
    #school-backups xm-select > .xm-label .scroll .label-content {
        display: flex;
        padding: 0 30px 0 10px;
    }
</style>
<div class="layui-fluid layui-anim school-anim" id="school-backups" lay-title="备份文件">
    <div class="layui-row school-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body school-table-full">
                     <table lay-filter="backupsTable" lay-data="{id: 'backupsTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="backups-option">
    <span shiro:lacksPermission="backups:view">
        <span class="layui-badge-dot school-bg-orange"></span> 无权限
    </span>
    <a lay-event="download" shiro:hasPermission="backups:download"><i class="layui-icon school-edit-area school-blue">&#xe86b;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdownMenu', 'jquery', 'laydate', 'form', 'table', 'school'], function () {
        let $ = layui.jquery,
            laydate = layui.laydate,
            school = layui.school,
            form = layui.form,
            table = layui.table,
            dropdownMenu = layui.dropdownMenu,
            $view = $('#school-backups'),
            sortObject = {field: 'createTime', type: null},
            tableIns,
            createTimeFrom,
            createTimeTo;

        form.render();

        initTable();

        laydate.render({
            elem: '#backups-createTime',
            range: true,
            trigger: 'click'
        });

        table.on('sort(backupsTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        function initTable() {
            tableIns = school.table.init({
                elem: $view.find('table'),
                id: 'backupsTable',
                url: ctx + 'backups/list',
                cols: [[
                    {type: 'checkbox'},
                    {field: 'fileName', title: '文件名', minWidth: 100},
                    {field: 'filePath', title: '路径', minWidth: 165},
                    {field: 'extName', title: '扩展名', minWidth: 165},
                    {field: 'fileSize', title: '大小', minWidth: 65},
                    {field: 'type', title: '类型', minWidth: 65},
                    {field: 'createTime', title: '创建时间', minWidth: 180, templet: "<div>{{layui.util.toDateString(d.createTime, 'yyyy-MM-dd HH:mm:ss')}}</div>"},
                    {title: '操作', toolbar: '#backups-option'}
                ]]
            });
        }
        
        table.on('tool(backupsTable)', function (obj) {
        	console.log("download")
            let data = obj.data,
            layEvent = obj.event;
            if (layEvent === 'download') {
                school.download(ctx + 'backups/download', {"path": data.filePath, "fileName": data.fileName}, data.fileName);
            }
        });
    })
</script>